<template>
  <div>
    <p>คะแนนของคุณ: {{ points }}</p>
    <button @click="addPoint">สะสมแต้ม</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      points: 0,
    };
  },
  methods: {
    addPoint() {
      // ส่ง request เพื่อเพิ่มแต้ม
      axios
        .post("/api/addPoint", {
          customerId: this.customerId,
          amount: 1,
        })
        .then((response) => {
          // อัปเดตคะแนน
          this.points += 1;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
