<script>
import { useEmployeeStore } from "@/stores/employee";
import { useAuthStore } from "@/stores/auth";
import { onMounted, ref, watch } from "vue";
const employeeStore = useEmployeeStore();
const authStore = useAuthStore();
const user = ref<any | null>(localStorage.getItem("user"));
const user_ = JSON.parse(user.value);
const employee = ref<any | null>(localStorage.getItem("employee"));
const employee_ = JSON.parse(employee.value);
const url = import.meta.env.VITE_URL_PORT;</script>

<template>
  <div class="header">
    <v-row>
      <v-col>
        <v-table style="background-color: #371616">
          <thead>
            <tr>
              <th width="15%"></th>
              <th width="1%">
                <v-btn :icon="mdiFood"></v-btn>
              </th>
              <th style="color: white">

                <h1>MATERIAL</h1>
                <h3>D-Coffee</h3>
                

                <v-col class="switch">
                  <v-btn
                    class="mdi mr-2 mdi-checkbox-marked-circle"
                    style="float: right; color: white"
                    color="green"
                    @click="employeeStore.empCheckIn"
                    >Checkin</v-btn
                  >
                </v-col>

              </th>
              
            </tr>
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </div>
</template>

<style>
.header {
  background-color: #371616;
  padding: 20px;
  text-align: center;
}
</style>
    
  
  

