<template>
  <v-app-bar color="#FFFFFF"
    ><v-app-bar-title class="text-center"
      ><v-icon aria-hidden="false" style="margin: 7px">mdi-cash-register</v-icon
      >หน้าการขาย</v-app-bar-title
    >
  </v-app-bar>
</template>
