<script setup lang="ts">
import { mdiAccountSettings } from "@mdi/js";
</script>

<template>
  <div class="header">
    <v-row>
      <v-col>
        <v-table style="background-color: #371616">
          <thead>
            <tr>
              <th width="15%"></th>
              <th width="1%">
                <v-btn :icon="mdiAccountSettings"></v-btn>
              </th>
              <th style="color: white">
                <h1 style="font-family: Georgia">USER LIST</h1>
                <h3 style="font-family: Georgia">D-Coffee</h3>
              </th>
            </tr>
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </div>
</template>

<style>
.header {
  background-color: #371616;
  padding: 20px;
  text-align: center;
}
</style>
