<script setup lang="ts">
import { useAddPromotionStore } from "@/stores/add-pomotion";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const addPromotionStore = useAddPromotionStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await addPromotionStore.saveAddPro();
  }
}
</script>

<template>
  <v-dialog v-model="addPromotionStore.addPromotion" persistent width="1024">
    <v-card color="brown">
      <v-card-title class="text-center">
        <span class="text-h4">Add Promotion</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="ชื่อโปรโมชั่น*"
                  required
                  v-model="addPromotionStore.editedAddPro.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="ส่วนลดโปรโมชั่น*"
                  required
                  v-model.number="addPromotionStore.editedAddPro.discount"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          variant="elevated"
          @click="addPromotionStore.addPromotion = false"
        >
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
