<script lang="ts" setup>
import { ref, computed } from "vue";
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import { useOrderStore } from "@/stores/order";
import { useCatagoryStore } from "@/stores/catagory";
import { usePromotionStore } from "@/stores/promotion";
import { useCustomerStore } from "@/stores/customer";
import { useUserStore } from "@/stores/user";
import { mdiPlusBox } from "@mdi/js";
import type Product from "@/types/Product";
import MainMenu from "../menus/MainMenu.vue";
import type { OrderItem } from "@/types/OrderItem";
import PromotionDialogVue from "./pomo/PromotionDialog.vue";
import CusDialog from "@/views/customers/CusDialog.vue";
import FindMemberDialog from "@/components/POS/FindMemberDialog.vue";
import { usePointOfSale } from "@/stores/storeall";
import {
  mdiArrowLeftBoldBox,
  mdiCashRegister,
  mdiMagnify,
  mdiCellphone,
  mdiAccountStar,
} from "@mdi/js";
import type { useFindeStore } from "@/stores/find";
import AddCustomerDialog from "@/views/customers/AddCustomerDialog.vue";
const confirmDlg = ref();
const productStore = useProductStore();
const cusStore = useCustomerStore();
const product_ = computed(() => {
  return pointOfSaleStore.temProduct;
});

const deleteOrderItem = (index: number) => {
  pointOfSaleStore.orderItemList.splice(index, 1);
};

const aboutCal = computed(() => {
  return pointOfSaleStore.CaltotalPrice();
});
onMounted(() => {
  productStore.getProductByCatagory("2");
  pointOfSaleStore.total_discount;
});

function Paycash() {
  pointOfSaleStore.dialogPayment = false;
  pointOfSaleStore.order.payment = "Cash";
}
// import PromotionDialogVue from "../Buy/PromotionDialog.vue";
const customerStore = useCustomerStore();
const pointOfSaleStore = usePointOfSale();

const radios = ref("");
const dialog = ref(false);
const agree = ref("Confirm");
const cancel = ref("Cancel");

let namePromotion = ref("");
let CodeInput = ref("");

const showName = (namePromo: string) => {
  namePromotion.value = namePromo;
};
const reCode = () => {
  CodeInput = ref("");
  namePromotion.value = "";
};
onMounted(() => {
  customerStore.getCustomers();
});
let onOk: (value: unknown) => void;
let onCancel: (value: unknown) => void;
const cancelBtn = () => {
  try {
    dialog.value = false;
    onCancel("cancel");
  } catch (e) {
    console.log(e);
  }
};
const okBtn = () => {
  dialog.value = false;
  onOk("Ok");
};
const openDialog = (okBtn: string = "Ok", cancel_: string = "Cancel") => {
  agree.value = okBtn;
  cancel.value = cancel_;
  dialog.value = true;
  return new Promise((resolve, reject) => {
    onOk = resolve;
    onCancel = reject;
  });
};
// const orderStore = useOrderStore();
// const productStore = useProductStore();
// const categoryStore = seCatagoryStore();
// const promotionStore = usePromotionStore();
// const cusStore = useCustomerStore();

// onMounted(async () => {
//   await categoryStore.getCategories();
//   await productStore.getProductsByCategory(productStore.category);
// });
</script>
<template>
  <MainMenu></MainMenu>
  <PromotionDialogVue></PromotionDialogVue>
  <CusDialog></CusDialog>
  <AddCustomerDialog></AddCustomerDialog>
  <FindMemberDialog></FindMemberDialog>
  <div>
    <v-row style="padding: 2%">
      <v-col cols="6">
        <v-card color="green-darken-4" height="300">
          <v-btn
            color="red"
            variant="text"
            @click="(pointOfSaleStore.dialogPromotion = false), reCode()"
          >
            close
          </v-btn>
          <v-btn
            color="green"
            variant="text"
            @click="pointOfSaleStore.checkCode(CodeInput), reCode()"
          >
            save
          </v-btn>

          <div style="height: 50vh" class="scroll">
            <v-card-text color="brown-darken-4">
              <v-container>
                <v-row>
                  <v-col
                    cols="6"
                    v-for="item in pointOfSaleStore.promo"
                    :key="item.id"
                  >
                    <v-card
                      variant="text"
                      class="ma-2 pa-2 card"
                      @click="
                        pointOfSaleStore.selectCode(item.id),
                          showName(item.name)
                      "
                    >
                      <v-card-title
                        color="brown-darken-4"
                        class="mt-5"
                        style="font-size: 15px; text-align: center"
                      >
                        NAME :{{ item.name }}<br />
                        CODE: {{ item.code }}
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
                <span class="text-h6">{{ namePromotion }}</span>

                <v-text-field
                  label="Please wait for code "
                  required
                  v-model="CodeInput"
                  :rules="[(v) => !!v || 'Item is required']"
                >
                </v-text-field>
              </v-container>
            </v-card-text>
            <v-card-title> </v-card-title>
            <v-container>
              <v-row>
                <v-col cols="12"> </v-col>
              </v-row>
            </v-container>
          </div>
          <!-- <v-col>
            <v-radio-group v-model="radios" row>
              <v-radio
                label="Is Member"
                value="Is Member"
              ></v-radio>
              <v-radio label="Is Nonmemr" value="Is Nonmemr"></v-radio>
            </v-radio-group>
            <v-text class="text-h4 text-md-h5 text-lg-h2;"
              >ABOUT CUSTOMER : {{ radios }}</v-text
            >
          </v-col> -->

          <v-divider :thickness="25" class="border-opacity-0" inset></v-divider>
          <v-col style="text-align: right"> </v-col>
        </v-card>
        <v-divider :thickness="25" class="border-opacity-0" inset></v-divider>
        <v-card color="brown-lighten-1">
          <v-card-item color=":">
            <h2>Order Summary</h2>

            <div class="d-flex justify-content-between mt-4">
              <p class="fw-bold mb-0">Total : {{ aboutCal?.total_ }} Bath</p>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <p class="fw-bold mb-0">
                Discount : {{ pointOfSaleStore.total_discount }} Bath
              </p>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <p class="fw-bold mb-0">
                Payment amount : {{ aboutCal?.totalAndDicount }} Bath
              </p>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <p class="fw-bold mb-0">
                Received : {{ pointOfSaleStore.recive_mon }} Bath
              </p>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <p class="fw-bold mb-0">Change :</p>

              <p
                class="fw-bold mb-0"
                v-if="aboutCal?.change_money?.value! < 0"
                style="color: red"
              >
                {{ aboutCal?.change_money }} Bath
              </p>
              <p class="fw-bold mb-0" v-else>
                {{ aboutCal?.change_money }} Bath
              </p>
            </div>
            <div class="mt-4"></div>
          </v-card-item>
        </v-card>

        <v-divider :thickness="30" class="border-opacity-0" inset></v-divider>
        <div>
          <v-btn
            to="/pointofsell"
            class="text-none"
            color="blue-darken-4"
            rounded="0"
            variant="outlined"
            :prepend-icon="mdiArrowLeftBoldBox"
            >BACK</v-btn
          >
        </div>
      </v-col>

      <v-col cols="6">
        <v-card style="text-align: right">
          <!-- <v-text-field
            v-model="customerStore.keyword"
            placeholder="Search..."
            hide-details
            append-inner-icon="mdi-magnify"
            variant="underlined"
          ></v-text-field> -->
          <div style="height: 585px">
            <div class="row">
              <!-- {{ pointOfSaleStore.order }} -->

              <v-btn
                style="background-color: #004d40; color: white"
                width="250px"
                @click="customerStore.addCustomerDialog = true"
                >Add Customer</v-btn
              >
              <v-divider
                :thickness="20"
                class="border-opacity-0"
                inset
              ></v-divider>
              <tbody>
                <v-card height="500px" width="650px">
                  <h2 class="text-center">Find Member</h2>

                  <v-card
                    class="mx-auto overflow-auto"
                    style="margin-top: 10px"
                  >
                    <div style="height: 70vh" class="scroll">
                      <v-list
                        class="scroll"
                        lines="two"
                        v-if="customerStore.customers.length > 0"
                      >
                        <v-list-item
                          v-for="item in customerStore.customers"
                          :value="item.id"
                          :key="item.id"
                          :prepend-icon="mdiAccountStar"
                          :title="item.name"
                          :subtitle="item.point + ` Point`"
                          style="font-size: 15px"
                          :type="item.name"
                        >
                          <template v-slot:append>
                            <v-btn
                              style="padding: %"
                              color="teal-darken-1"
                              @click="
                                customerStore.addPointCustomer(item.id + ''),
                                  (customerStore.dialog = false)
                              "
                              >Select Member</v-btn
                            >
                          </template>
                        </v-list-item>
                      </v-list>
                    </div>
                  </v-card>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </tbody>

              <div class="col-md-7"></div>
            </div>
          </div>

          <v-table fixed-header height="355px"> </v-table>
        </v-card>

        <v-divider :thickness="25" class="border-opacity-0" inset></v-divider>
        <v-btn
          class="text-end"
          to="/Payment"
          color="#5865f2"
          :prepend-icon="mdiCashRegister"
          >Payment Option</v-btn
        >
      </v-col>
    </v-row>

    <!-- <v-footer>
      <v-col></v-col>
      <v-col></v-col>
      
    </v-footer> -->
  </div>
</template>
<script lang="ts">
export default {
  data: () => ({
    snackbar: false,
    text: `Success`,
  }),
};
</script>
