<script setup lang="ts">
import { useCashStore } from "@/stores/cash";
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";

const num = ref(0);
const change = ref(0);
const cashStore = useCashStore();
const orderStore = useOrderStore();
function Cal() {
  num.value - orderStore.sumPrice;
  change.value = num.value - orderStore.sumPrice;
  if (num.value < 0) {
    alert("Please input Positive number");
    change.value = 0;
    num.value = 0;
  }
  if (num.value < orderStore.sumPrice) {
    alert("Please input again");
    num.value = 0;
    change.value = 0;
  }
  if (orderStore.sumPrice == 0) {
    alert("Please add Product");
    num.value = 0;
    change.value = 0;
    cashStore.cash = false;
  }
}

function Close() {
  change.value = 0;
  num.value = 0;
  cashStore.cash = false;
}
</script>

<template>
  <v-dialog v-model="cashStore.cash" persistent width="25%">
    <v-card>
      <v-card-title class="text-h5"> Cash Payment Method </v-card-title>
      <v-card-text>Total</v-card-text>
      <v-card-text>{{ orderStore.sumPrice }}</v-card-text>

      <v-card-text>
        Received Cash
        <v-text-field
          v-model.number="num"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          required
        ></v-text-field>
      </v-card-text>

      <v-card-text>Change</v-card-text>
      <v-card-text>{{ change }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="Cal">
          Calculate
        </v-btn>
        <v-btn color="green-darken-1" variant="text" @click="Close"> OK </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
