<script setup lang="ts">
import { useCreditCardStore } from "@/stores/credit";

const creditStore = useCreditCardStore();
</script>

<template>
  <v-dialog v-model="creditStore.creditCard" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Credit Card Payment Method</v-card-title>
      <v-card-text>
        Add Payment
        <v-container>
          <v-row>
            <v-col cols="12">
              <div class="text-caption">Credit Card Name*</div>
              <v-text-field required></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <div class="text-caption">Credit Card Number*</div>
              <v-text-field required> </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12">
              <div class="text-caption">Expiration Date*</div>
              <v-col>
                <v-row
                  ><v-text-field required label="MM"></v-text-field>
                  <v-spacer></v-spacer>
                  <v-text-field required label="YYYY"></v-text-field
                ></v-row>
              </v-col>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <div class="text-caption">CVV*</div>
              <v-text-field required></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="red-darken-1"
          variant="text"
          @click="creditStore.creditCard = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="creditStore.creditCard = false"
        >
          OK
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
