<script lang="ts" setup>
import { useMemberStore } from "@/stores/member";

const memberStore = useMemberStore();
</script>
<template>
  <v-dialog v-model="memberStore.Member" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> New Subscription </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <div class="text-caption">Name*</div>
              <v-text-field required></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <div class="text-caption">Age*</div>
              <v-text-field required> </v-text-field>
            </v-col>
            <v-col cols="12">
              <div class="text-caption">Gender*</div>
              <v-select
                label="Gender"
                :items="['Male', 'Female', 'Oter']"
              ></v-select>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12">
              <div class="text-caption">Phone*</div>
              <v-text-field required></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="memberStore.Member = false"
        >
          Cancle
        </v-btn>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="memberStore.Member = false"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
