<script lang="ts" setup>
import { usePointOfSale } from "@/stores/storeall";
import { useProductStore } from "@/stores/product";
import type { OrderItem } from "@/types/OrderItem";
import type Product from "@/types/Product";
import { computed, ref } from "vue";

const pointOfSaleStore = usePointOfSale();
const backendURL = import.meta.env.VITE_URL_PORT;

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  img: {
    type: String,
    required: true,
  },
  type: {
    type: String,
    required: true,
  },
  price: {
    type: Number,
    required: true,
  },
  catagoryId: {
    type: String,
    required: true,
  },
});
</script>
<template>

  <v-card class="mx-auto" width="100%" variant="outlined">
    <v-container fluid>
      <v-row>
        <v-col cols="5" md="2">
          <!-- <v-container style="width: 11rem"> -->
             <img
                class="rounded-lg card-img-top item-img-fd"
                :src="`${backendURL}/products/image/${props.img}`"
                :lazy-src="`${backendURL}/products/image/${props.img}`"
              />

          <!-- </v-container> -->
        </v-col>
        <v-col>
          <h6>ชื่อ : {{ props.name }}</h6>
          <h6>ประเภท : {{ props.type }}</h6>
          <h6>ราคาเริ่มต้น : {{ props.price }}</h6>
        </v-col>
        <div class="col-7">
          <!-- <v-btn class="mt-2" rounded variant="tonal" width="150px">
                Add To Cart 
              </v-btn> -->
        </div>
      </v-row>
    </v-container>
  </v-card>
  <link
    href="https://fonts.googleapis.com/css?family=Noto Sans Thai"
    rel="stylesheet"
  />

</template>

<style>
h6 {
  font-family: "Noto Sans Thai";

  font-size: 1rem;
}

h2,
h3,
h4 {
  font-size: 1.1rem;
}
</style>
