<template>
  <v-navigation-drawer app color="#FFFFFF" right width="300">
    <v-list subheader two-line class="mt-1">
      <v-list-item>
        <v-list-item-avatar rounded>
          <v-img
            src="https://media.discordapp.net/attachments/1055708505350352917/1061175621348229120/image.png"
            max-height="100"
            max-width="300"
          ></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-text-field
            label="ค้นหาสมาชิก"
            class="mt-3"
            color="brown"
            :prepend-icon="mdiAccountSearch"
            dense
            solo
            flat
            background-color="grey lighten-4"
          ></v-text-field>
          <div class="mx-3 mt-2">
            <v-btn color="#cb8067" block dark class="widthoutupercase" x-small
              >ยืนยัน</v-btn
            >
          </div>
        </v-list-item-content>
        <v-list-item-action>
          <v-badge bordered overlap color="red" dot> </v-badge>
        </v-list-item-action>
      </v-list-item>
    </v-list>

    <v-list subheader two-line class="mt-1">
      <v-list-item>
        <v-list-item-avatar rounded color="grey lighten-4">
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-subtitle>
            <div class="mx-3 mt-2">
              <v-btn
                :prepend-icon="mdiAccountMultiplePlus"
                color="#cb8067"
                block
                dark
                class="widthoutupercase"
                x-small
                >สมัครสมาชิก</v-btn
              >
            </div>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <div class="mx-6">
      <v-btn
        :prepend-icon="mdiPrinter"
        color="#cb8067"
        block
        dark
        class="widthoutupercase"
        x-small
        @click="proStore.dialog = true"
        >โปรโมชั่น<v-tooltip activator="parent" location="top"
          >Promotion</v-tooltip
        ></v-btn
      >
    </div>

    <div class="mx-6 mt-3">
      <v-btn
        @click="orderStore.openOrder()"
        block
        x-small
        :prepend-icon="mdiCashRegister"
        color="#cb8067"
        class="widthoutupercase"
        >ทำรายการ</v-btn
      >
    </div>
  </v-navigation-drawer>
</template>
<script lang="ts" setup>
import { useQrcodeStore } from "@/stores/qrcode";
import { useCreditCardStore } from "@/stores/credit";
import { useCashStore } from "@/stores/cash";
import { useProductStore } from "@/stores/product";
import { usePromotionStore } from "@/stores/promotion";
import {
  mdiAccountSearch,
  mdiAccountMultiplePlus,
  mdiCashMultiple,
  mdiCreditCard,
  mdiQrcodeScan,
  mdiPrinter,
  mdiCashRegister,
  mdiCloseOutline,
  mdiTrashCanOutline,
} from "@mdi/js";
</script>
