<script lang="ts" setup>
import {
  mdiCashMultiple,
  mdiCreditCard,
  mdiQrcodeScan,
  mdiCashRegister,
  mdiArrowLeftBoldBox,
} from "@mdi/js";

import { useQrcodeStore } from "@/stores/qrcode";

import QrDialog from "@/components/POS/QrDialog.vue";
import CashDialog from "@/components/POS/CashDialog.vue";
import CreditDialog from "@/components/POS/CreditDialog.vue";
import MainMenu from "../menus/MainMenu.vue";
import { useProductStore } from "@/stores/product";
import { ref, computed, onMounted } from "vue";

import { usePointOfSale } from "@/stores/storeall";

const productStore = useProductStore();

const qrStore = useQrcodeStore();

const pointOfSaleStore = usePointOfSale();
function Paycash() {
  pointOfSaleStore.dialogPayment = false;
  pointOfSaleStore.order.payment = "Cash";
}
const confirmDlg = ref();
const product_ = computed(() => {
  return pointOfSaleStore.temProduct;
});
const aboutCal = computed(() => {
  return pointOfSaleStore.CaltotalPrice();
});
onMounted(() => {
  productStore.getProductByCatagory("2");
  pointOfSaleStore.total_discount;
});
</script>
<template>
  <CashDialog></CashDialog>
  <CreditDialog></CreditDialog>
  <QrDialog></QrDialog>
  <MainMenu></MainMenu>
  <DialogCompleteOrder></DialogCompleteOrder>
  <v-card height="863px" width="1400px" class="mx-auto">
    <v-row>
      <v-col cols="6">
        <h1 class="text-center" style="font-family: Georgia">
          Payment Options
        </h1>
        <v-col>
          <v-btn
            :prepend-icon="mdiQrcodeScan"
            color="green"
            class="d-flex align-center rounded-lg"
            dark
            block
            width="40%"
            height="50px"
            @click="Paycash, (snackbar = true)"
            flat
            >Cash<v-tooltip activator="parent" location="bottom"
              >Cash</v-tooltip
            > </v-btn
          ><v-snackbar v-model="snackbar">
            {{ text }}
            <v-btn color="pink" variant="text" @click="snackbar = false">
              Close
            </v-btn></v-snackbar
          ><v-card
            class="text-center"
            height="35px"
            subtitle="Pay with Cash"
          ></v-card
        ></v-col>

        <span class="pa-6" style="font-family: Georgia">Input received : </span>
        <input
          class="form-control mt-3"
          id="amount"
          type="text"
          placeholder="Amount"
          v-model="pointOfSaleStore.recive_mon"
        />

        <!-- <v-col>
          <v-btn
            :prepend-icon="mdiCreditCard"
            color="green"
            class="d-flex align-center rounded-lg"
            dark
            block
            width="40%"
            height="50px"
            @click="creditStore.creditCard = true"
            flat
            >Credit Card
            <v-tooltip activator="parent" location="bottom center"
              >Credit Card</v-tooltip
            > </v-btn
          ><v-card
            height="35px"
            class="text-center"
            subtitle="MasterCard and Visa"
          ></v-card>
        </v-col> -->
        <v-col>
          <v-btn
            :prepend-icon="mdiQrcodeScan"
            color="green"
            class="d-flex align-center rounded-lg"
            dark
            block
            width="40%"
            height="50px"
            @click="qrStore.dialog = true"
            flat
            >QR Code<v-tooltip activator="parent" location="bottom"
              >QR Code</v-tooltip
            > </v-btn
          ><v-card
            class="text-center"
            height="35px"
            subtitle="Use QrCode"
          ></v-card
        ></v-col>

        <v-col> </v-col>

        <v-img
          cover
          :height="480"
          src="https://materialpro-vue3-dark.vercel.app/assets/payment-3a256551.svg"
        ></v-img>

        <div>
          <v-col
            ><v-btn
              to="/bill"
              class="text-none"
              color="blue-darken-4"
              rounded="0"
              variant="outlined"
              :prepend-icon="mdiArrowLeftBoldBox"
              >BACK</v-btn
            >
          </v-col>
        </div>
      </v-col>
      <v-col cols="6">
        <v-card-title style="font-family: Georgia">Cart Item</v-card-title>
        <v-card>
          <div>
            <v-table fixed-header height="570px">
              <thead>
                <tr>
                  <th style="font-size: large">Name</th>
                  <th style="font-size: large">Qty.</th>
                  <th style="font-size: large">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) of pointOfSaleStore.orderItemList"
                  :key="index"
                >
                  <td>{{ item.name }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item.total }}</td>
                </tr>
              </tbody>
            </v-table>
          </div></v-card
        >
        <v-divider :thickness="5" class="border-opacity-0" inset></v-divider>
        <v-card>
          <v-card-item style="font-family: Georgia">
            <div class="mt-1" style="font-size: x-large">Order Summary</div>
            <div class="col-md-7">
              <div class="d-flex justify-content-between">
                <p class="fw-bold mb-0">Total :</p>
                <p class="fw-bold mb-0">{{ aboutCal?.total_ }} Bath</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="fw-bold mb-0">Discount :</p>
                <p class="fw-bold mb-0">
                  {{ pointOfSaleStore.total_discount }} Bath
                </p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="fw-bold mb-0">Payment amount :</p>
                <p class="fw-bold mb-0">{{ aboutCal?.totalAndDicount }} Bath</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="fw-bold mb-0">Received :</p>
                <p class="fw-bold mb-0">
                  {{ pointOfSaleStore.recive_mon }} Bath
                </p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="fw-bold mb-0">Change :</p>
                <p
                  class="fw-bold mb-0"
                  v-if="aboutCal?.change_money?.value! < 0"
                  style="color: red"
                >
                  {{ aboutCal?.change_money }} Bath
                </p>
                <p class="fw-bold mb-0" v-else>
                  {{ aboutCal?.change_money }} Bath
                </p>
              </div>
            </div>
          </v-card-item>
        </v-card>
        <div class="pa-2 text-end">
          <v-btn
            to="/order/:id"
            block
            rounded="xl"
            width="inherit"
            height="40px"
            style="background-color: #03c988; color: white"
            @click="pointOfSaleStore.openOrder"
            >Complete</v-btn
          >
        </div>
      </v-col>
    </v-row></v-card
  >
</template>
<script lang="ts">
export default {
  data: () => ({
    snackbar: false,
    text: `Payment : Cash`,
  }),
};
</script>
