<script setup lang="ts">
import { useQrcodeStore } from "@/stores/qrcode";
import { ref } from "vue";

const qrStore = useQrcodeStore();
</script>
<template>
  <v-dialog v-model="qrStore.dialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> QR Code Payment Method </v-card-title>
      <v-card-text
        ><v-img
          width="250"
          aspect-ratio="1/1"
          cover
          src="https://cdn.discordapp.com/attachments/1064230054558703718/1094215951601377350/S__111779906.jpg"
        ></v-img
      ></v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="qrStore.dialog = false"
        >
          OK
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
