<script lang="ts" setup>
import type { OrderItem } from "@/types/OrderItem";
import type Product from "@/types/Product";
import { computed, ref } from "vue";
import { usePointOfSale } from "@/stores/storeall";
const defaulttop = ref(0);
const pointOfSaleStore = usePointOfSale();
const product_ = computed(() => {
  return pointOfSaleStore.temProduct;
});
let orderItem = ref<OrderItem>({
  name: product_.value.name,
  amount: 1,
  productId: product_.value.id!,
  price: product_.value.price,
  total: product_.value.price * 1,
});
const save = () => {
  const product = pointOfSaleStore.orderItemList.findIndex((item_) => {
    if (item_.productId === product_.value.id) {
      item_.amount += 1;
      item_.total =
        item_.amount * item_.price + item_.amount * pointOfSaleStore.topping;
      return item_;
    }
  });
  if (product < 0) {
    orderItem.value = {
      name: product_.value.name,
      amount: 1,
      productId: product_.value.id!,
      price: product_.value.price,
      total: product_.value.price * 1,
    };
    pointOfSaleStore.addToOrder(orderItem.value);
  }
  pointOfSaleStore.dialogTopping = false;
};
</script>
<template>
  <v-dialog
    v-model="pointOfSaleStore.dialogTopping"
    width="300px"
    min-width="150px"
  >
    <v-card>
      <v-card-title>
        {{ product_.name }}
      </v-card-title>
      <v-card-text>
        Price of size : {{ defaulttop + pointOfSaleStore.topping }}
      </v-card-text>
      <div class="d-flex align-left flex-column">
        <v-card-text>
          <h5>Size</h5>
          <v-btn-toggle
            v-model="pointOfSaleStore.toggle"
            variant="outlined"
            divided
          >
            <v-btn @click="pointOfSaleStore.topping = 0">S</v-btn>
            <v-btn @click="pointOfSaleStore.topping = 5">M</v-btn>
            <v-btn @click="pointOfSaleStore.topping = 10">L</v-btn>
          </v-btn-toggle>
          <!-- this {{ pointOfSaleStore.topping }} -->
        </v-card-text>
      </div>

      <!-- <div>
          <h5>Topping</h5>

          <v-chip-group v-model="pointOfSaleStore.amenities" column multiple>
            <v-chip filter variant="outlined" @click="pointOfSaleStore.topping = 10"> brown Sugar Bubble +10 </v-chip>
            <v-chip filter variant="outlined" @click="pointOfSaleStore.topping = 10"> cocoa +10 </v-chip>
            <v-chip filter variant="outlined" @click="pointOfSaleStore.topping = 10" > whipped cream +10 </v-chip>
           
          </v-chip-group>
          this {{ pointOfSaleStore.topping }}
        </div> -->

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" variant="text" @click="save()"> Save </v-btn>
        <v-btn
          color="primary"
          variant="text"
          @click="pointOfSaleStore.dialogTopping = false"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
