<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import {
  mdiContentSaveCheck,
  mdiCloseBox,
  mdiCoffee,
  mdiPaperclip,
} from "@mdi/js";
import type { VForm } from "vuetify/components";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useCatagoryStore } from "@/stores/catagory";

const form = ref<VForm | null>(null);
const url = import.meta.env.VITE_BACKEND_URL;
const confirmDlg = ref();
const productStore = useProductStore();
const catagoryStore = useCatagoryStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await confirmDlg.value.openDialog(
      "Pleases Confirm",
      `Do you want to save this product ?`,
      "Accept",
      "Cancel"
    );
    await productStore.saveProduct();
  }
}

onMounted(async () => {
  await catagoryStore.getCatagories();
});
</script>

<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-dialog v-model="productStore.dialog" persistent width="1024">
    <v-card color="brown-lighten-3">
      <v-card-title class="text-center">
        <div class="mt-3">
          <v-btn :icon="mdiCoffee"></v-btn>
        </div>
        <span class="text-h5">Product</span>
      </v-card-title>

      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Name*"
                  required
                  v-model="productStore.editedProduct.name"
                  :rules="[
                    (v) => !!v || 'Name is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Category 3=drink 5=Food 6=Dessert*"
                  required
                  v-model="productStore.editedProduct.catagoryId"
                ></v-text-field>

                <v-autocomplete
                  label="Type*"
                  required
                  v-model="productStore.editedProduct.type"
                  :rules="[(v) => !!v || 'Type is required']"
                  :items="productStore.typeProduct.type"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Size"
                  required
                  v-model="productStore.editedProduct.size"
                  :rules="[(v) => !!v || 'Size is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Price*"
                  v-model.number="productStore.editedProduct.price"
                  :rules="[
                    (v) => !!v || 'Price is required',
                    (v) => v >= 0 || 'Price must more than 0',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-file-input
                  counter
                  multiple
                  placeholder="Select your files"
                  :prepend-icon="mdiPaperclip"
                  :show-size="1000"
                  label="Image Input"
                  accept="image/*"
                  v-model="productStore.editedProduct.files"
                >
                </v-file-input>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="white"
              variant="elevated"
              style="font-weight: bold"
              :prepend-icon="mdiCloseBox"
              @click="productStore.dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              color="white"
              variant="elevated"
              style="font-weight: bold"
              :prepend-icon="mdiContentSaveCheck"
              @click="save"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
