<script lang="ts" setup>
import { useManageTime } from "@/stores/manageDate";
import { useOrderStore } from "@/stores/order";
import { onMounted, ref } from "vue";
import { useRoute } from "vue-router";
import { mdiCoffee, mdiHeart } from "@mdi/js";
const manageTimeStore = useManageTime();
const route = useRoute();
const id = route.params.id;
const orderStore = useOrderStore();
onMounted(async () => {
  await orderStore.getOneOrder(id + "");
});
const date = (index: string) => {
  let dd = new Date(index);
  let date = {
    date: "",
    mouth: "",
    year: "",
    hour: "",
    minute: "",
    second: "",
  };
  date.year = dd.getFullYear() + "";
  date.date = dd.getDate() + "";
  date.mouth = dd.getMonth() + "";
  date.minute = "" + dd.getMinutes();
  date.hour = "" + dd.getHours();
  date.second = "" + dd.getSeconds();
  if (dd.getDate() < 10) {
    date.date = "0" + dd.getDate();
  }
  if (dd.getMonth() < 10) {
    date.mouth = "0" + dd.getMonth();
  }
  if (dd.getHours() < 10) {
    date.hour = "0" + dd.getHours();
  }
  if (dd.getMinutes() < 10) {
    date.minute = "0" + dd.getHours();
  }
  if (dd.getSeconds() < 10) {
    date.second = dd.getSeconds() + "0";
  }
  if (dd.getMonth() < 10) {
    date.mouth = "0" + dd.getMonth();
  }
  if (dd.getHours() < 10) {
    date.hour = "0" + dd.getHours();
  }
  if (dd.getMinutes() < 10) {
    date.minute = "0" + dd.getHours();
  }
  if (dd.getSeconds() < 10) {
    date.second = dd.getSeconds() + "0";
  }
  return date;
};
</script>
<template>
  <v-card class="bg" height="960px">
    <v-row class="ml-5 mt-5" style="float: left"> </v-row>
    <table class="body-wrap">
      <tbody>
        <tr>
          <td></td>
          <td class="container" width="600">
            <div class="content">
              <table class="main" width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td class="content-wrap">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td class="text-center">
                              <div class="ma-5">
                                <v-btn
                                  to="/pointofsell"
                                  class="text-center"
                                  v-bind:icon="mdiCoffee"
                                >
                                </v-btn>
                              </div>

                              <h1
                                style="
                                  font-size: 22px;
                                  font-weight: bold;
                                  font-family: Georgia;
                                  color: black;
                                "
                              >
                                D-COFFEE
                              </h1>
                            </td>
                          </tr>
                          <tr>
                            <td class="content-block">
                              <table class="invoice">
                                <tbody>
                                  <tr>
                                    <td class="">
                                      <h2>
                                        Customer :
                                        {{
                                          orderStore.tempOrder.customer?.name
                                            ? orderStore.tempOrder.customer
                                                ?.name
                                            : "NonMember"
                                        }}
                                      </h2>
                                      <h2>
                                        OrderID : {{ orderStore.tempOrder.id }}
                                      </h2>
                                      <h2>
                                        Payment :
                                        {{ orderStore.tempOrder.payment }}
                                      </h2>
                                      <h2>
                                        Date :
                                        {{
                                          date(
                                            orderStore.tempOrder.createdDate +
                                              ""
                                          ).date +
                                          "-" +
                                          manageTimeStore.monthNum[
                                            new Date(
                                              orderStore.tempOrder.createdDate +
                                                ""
                                            ).getMonth()
                                          ] +
                                          "-" +
                                          new Date(
                                            orderStore.tempOrder.createdDate +
                                              ""
                                          ).getFullYear() +
                                          " | " +
                                          new Date(
                                            orderStore.tempOrder.createdDate +
                                              ""
                                          ).getHours() +
                                          ":" +
                                          new Date(
                                            orderStore.tempOrder.createdDate +
                                              ""
                                          ).getMinutes() +
                                          ":" +
                                          new Date(
                                            orderStore.tempOrder.createdDate +
                                              ""
                                          ).getSeconds()
                                        }}
                                      </h2>
                                      <div class="text-center">
                                        -----------------------------------------------------------------------------------------
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <table
                                        class="invoice-items"
                                        cellpadding="0"
                                        cellspacing="0"
                                      >
                                        <tbody>
                                          <tr
                                            v-for="item in orderStore.tempOrder
                                              .orderItems"
                                            :key="item.name"
                                          >
                                            <td>
                                              <h2>{{ item.name }}</h2>
                                            </td>

                                            <td class="alignright">
                                              <h2>{{ item.total }} ฿</h2>
                                            </td>
                                            <td>x{{ item.amount }}</td>
                                            <!-- <div class="mt-4">
                                            <td></td>
                                          </div> -->
                                          </tr>

                                          <tr
                                            class="finishOrder"
                                            v-for="item in orderStore.tempOrder
                                              .orderItems"
                                            :key="item.name"
                                          >
                                            <td></td>
                                            <!-- <td class="alignright">
                                              <h2>x{{ item.amount }}</h2>
                                            </td> -->
                                          </tr>
                                          <br />
                                          <tr class="total">
                                            <td class="alignright" width="80%">
                                              <h2>Sub Total</h2>
                                            </td>
                                            <td class="alignright">
                                              <h2>
                                                {{ orderStore.tempOrder.total }}
                                                ฿
                                              </h2>
                                            </td>
                                          </tr>

                                          <tr class="finishOrder">
                                            <td><h2>Discount</h2></td>
                                            <td class="alignright">
                                              <h2>
                                                {{
                                                  orderStore.tempOrder.discount
                                                }}
                                                ฿
                                              </h2>
                                            </td>
                                          </tr>

                                          <tr class="total">
                                            <td class="alignright" width="80%">
                                              <h2 style="color: darkgreen">
                                                Total
                                              </h2>
                                            </td>
                                            <td class="alignright">
                                              <h2 style="color: darkgreen">
                                                {{ orderStore.tempOrder.total }}
                                                ฿
                                              </h2>
                                            </td>
                                          </tr>

                                          <tr>
                                            <td><h2>Recieve</h2></td>
                                            <td class="alignright">
                                              <h2>
                                                {{
                                                  orderStore.tempOrder.recieved
                                                }}
                                                ฿
                                              </h2>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td><h2>Change</h2></td>
                                            <td class="alignright">
                                              <h2>
                                                {{
                                                  orderStore.tempOrder.change
                                                }}
                                                ฿
                                              </h2>
                                            </td>
                                          </tr>
                                          <tr></tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center">
                              <div class="ma-5 ml-6"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </v-card>
</template>

<style scoped>
.bg {
  background: url("../public/bgr.jpg");
  background-size: cover;
}
</style>
