<script setup lang="ts">
import router from "@/router";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useOrderStore } from "@/stores/order";
import { onMounted, ref } from "vue";
import { useManageTime } from "@/stores/manageDate";
import OrderDetail from "./OrderDetail.vue";
import OrderHeader from "@/components/headers/OrderHeader.vue";
const orderStore = useOrderStore();
const manageTimeStore = useManageTime();
const goTo = (index: string) => {
  router.push("/order/" + index);
  router.push(`/order/${index}`);
};
onMounted(() => {
  orderStore.endDate = "";
  orderStore.startDate = "";
  orderStore.getOrders();
});
const date = (index: string) => {
  let dd = new Date(index);
  let date = {
    date: "",
    mouth: "",
    year: "",
    hour: "",
    minute: "",
    second: "",
  };
  date.year = dd.getFullYear() + "";
  date.date = dd.getDate() + "";
  date.mouth = dd.getMonth() + "";
  date.minute = "" + dd.getMinutes();
  date.hour = "" + dd.getHours();
  date.second = "" + dd.getSeconds();
  if (dd.getDate() < 10) {
    date.date = "0" + dd.getDate();
  }
  if (dd.getMonth() < 10) {
    date.mouth = "0" + dd.getMonth();
  }
  if (dd.getHours() < 10) {
    date.hour = "0" + dd.getHours();
  }
  if (dd.getMinutes() < 10) {
    date.minute = "0" + dd.getHours();
  }
  if (dd.getSeconds() < 10) {
    date.second = dd.getSeconds() + "0";
  }
  if (dd.getMonth() < 10) {
    date.mouth = "0" + dd.getMonth();
  }
  if (dd.getHours() < 10) {
    date.hour = "0" + dd.getHours();
  }
  if (dd.getMinutes() < 10) {
    date.minute = "0" + dd.getHours();
  }
  if (dd.getSeconds() < 10) {
    date.second = dd.getSeconds() + "0";
  }
  return date;
};
</script>
<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <OrderHeader></OrderHeader>
  <v-parallax src="bgHis.jpg">
    <v-container>
      <v-card color="#FFE0B2">
        <v-card-title>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-2"></div>

            <div class="col-md-2"></div>
            <div class="col-md-1">
              <v-spacer></v-spacer>
            </div>
          </div>
          <VTable class="mt-5">
            <thead>
              <tr>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Number
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Date
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Discount
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Total
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Payment
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in orderStore.orders" :key="index">
                <td>{{ index + 1 }}</td>
                <!-- <td>{{ item.createdDate }}</td> -->

                <td>
                  {{
                    date(item.createdDate + "").date +
                    "/" +
                    manageTimeStore.monthNum[
                      new Date(item.createdDate + "").getMonth()
                    ] +
                    "/" +
                    new Date(item.createdDate + "").getFullYear() +
                    " " +
                    date(item.createdDate + "").hour +
                    ":" +
                    date(item.createdDate + "").minute +
                    ":" +
                    date(item.createdDate + "").second
                  }}
                </td>

                <td>{{ item.discount }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.payment }}</td>

                <td>
                  <v-btn
                    style="color: white; font-weight: bold"
                    color="#000000"
                    class="mdi mdi-receipt-text"
                    @click="goTo(item.id + '')"
                    to="/order/:id"
                  >
                    RECEIPT
                  </v-btn>
                </td>
              </tr>
            </tbody>
            <tbody v-if="orderStore.orders.length == 0">
              <tr>
                <td colspan="7" class="text-center">No data</td>
              </tr>
            </tbody>
          </VTable>

          <v-container width="100%" justify="center">
            <v-pagination
              justify="center"
              v-model="orderStore.page"
              :length="orderStore.lastPage"
              rounded="circle"
            ></v-pagination>
          </v-container>
        </v-card-title>
      </v-card>
    </v-container>
  </v-parallax>
</template>
