<template>
  <v-card max-height="740px">
    <v-tabs fixed-tabs color="#9F8772" dark v-model="tab">
      <v-tab @click="productStore.getProductByCatagory('2')"> Desserts </v-tab>
      <v-tab @click="productStore.getProductByCatagory('1')"> Foods </v-tab>
      <v-tab @click="productStore.getProductByCatagory('3')"> Drinks </v-tab>
    </v-tabs>

    <v-row v-for="item in productStore.products" :key="item.id">
      <v-window v-model="tab">
        <v-window-item>
          <v-col v-if="item.type === 'Glass'">
            <MenuCard
              :name="item.name"
              :cost="item.price"
              :type="item.type + ''"
              :img="item.image!"
              :price="item.price"
              :catagory-id="item.catagoryId + ''"
              @click="addToCart(item)"
            >
            </MenuCard
          ></v-col>
        </v-window-item>
        <v-window-item>
          <v-col v-if="item.type === 'Break'">
            <MenuCard
              :name="item.name"
              :cost="item.price"
              :type="item.type + ''"
              :img="item.image!"
              :price="item.price"
              :catagory-id="item.catagoryId + ''"
              @click="addToCart(item)"
            ></MenuCard>
          </v-col>
        </v-window-item>
      </v-window>
    </v-row>
  </v-card>
</template>
