<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import { mdiFood, mdiPencil, mdiShopping } from "@mdi/js";
import FrameworkFoodMenu from "@/components/FrameworkFoodMenu.vue";
import PopupOrder from "@/components/PopupOrder.vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { useFoodStore } from "@/stores/foods";
import { useEmployeeStore } from "@/stores/employee";
import NavigationBottom from "@/components/NavigationBottom.vue";
import { useTableStore } from "@/stores/table";
import { useOrderStore } from "@/stores/orders";
import { useLoginStore } from "@/stores/Login";
import { useFoodQueueStore } from "@/stores/foodQueue";
import { useQrCodeStore } from "@/stores/qrcode";

const foodQueueStore = useFoodQueueStore();
const tableStore = useTableStore();
const orderStore = useOrderStore();
const foodStore = useFoodStore();
const employeeStore = useEmployeeStore();
const selectMainTab = ref("one");
const loginStore = useLoginStore();
const qrcodeStore = useQrCodeStore();

function changeMainTab(select: string) {
  selectMainTab.value = select;
}

function changeRating(index: number, rating: number) {
  console.log("action " + index + " : " + rating);
  // frameList.value[index].rating = rating;
}

// const orderList = computed(() => {
//   return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
// });
//
const tab = ref(null);
const tab2 = ref(null);

const popupManagement = usemanagePopupStore();
const indexFood = ref(0);

onMounted(async () => {
  await foodStore.getFoods();
  await employeeStore.getEmployees();
  await tableStore.getTables();
  await orderStore.getOrders();
  await orderStore.getOrderByID(qrcodeStore.orderUUID);
  // await foodQueueStore.getFoodQueueByOrderId(qrcodeStore.orderUUID);
  if (loginStore.currentChef !== "") {
    console.log("คุณคือพ่อครัว: " + loginStore.currentChef);
    // console.log("เทสเทส 111" + foodQueueStore.chefName);
    foodQueueStore.chefName = loginStore.currentChef;
    // console.log("เทสเทส" + foodQueueStore.chefName);
  } else if (loginStore.currentEmp !== "") {
    console.log("คุณคือพนักงาน: " + loginStore.currentEmp);
  } else {
    console.log("คุณคือลูกค้า");
  }
});
</script>

<template>
  <PopupOrder> </PopupOrder>
  <v-container fluid class="mt-5">
    <v-row no-gutters>
      <v-col>
        <v-container fluid>
          <v-row>
            <v-col cols="12">
              <v-tabs v-model="tab" bg-color="teal-darken-2" height="40">
                <v-tab
                  :class="selectMainTab === 'one' ? 'text-h5' : 'text-h6'"
                  value="one"
                  @click="changeMainTab('one')"
                  ><h6>ทั้งหมด</h6></v-tab
                >
                <v-tab
                  :class="selectMainTab === 'two' ? 'text-h5' : 'text-h6'"
                  @click="changeMainTab('two')"
                  value="two"
                  ><h6>อาหาร</h6></v-tab
                >
                <v-tab
                  :class="selectMainTab === 'three' ? 'text-h5' : 'text-h6'"
                  @click="changeMainTab('three')"
                  value="three"
                  ><h6>ของหวาน</h6></v-tab
                >
                <v-tab
                  :class="selectMainTab === 'four' ? 'text-h5' : 'text-h6'"
                  @click="changeMainTab('four')"
                  value="four"
                  ><h6>เครื่องดื่ม</h6></v-tab
                >
              </v-tabs>

              <v-container fluid style="height: 80vh; overflow: auto">
                <v-window v-model="tab">
                  <v-window-item value="one">
                    <v-container class="ma-0 pa-0" fluid>
                      <v-row
                        v-for="(item, index) of foodStore.foods"
                        :key="index"
                      >
                        <v-col cols="12">
                          <FrameworkFoodMenu
                            :id="item.id ?? 0"
                            :img="item.img ?? 'undified'"
                            :name="item.name"
                            :type="item.type"
                            :status="item.status"
                            :price="item.price"
                          ></FrameworkFoodMenu>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-window-item>

                  <v-window-item value="two">
                    <v-container class="ma-0 pt-6 pl-0" fluid>
                      <v-row
                        v-for="(item, index) of foodStore.foods"
                        :key="index"
                      >
                        <v-col v-if="item.type === 'อาหาร'" cols="12">
                          <FrameworkFoodMenu
                            :id="item.id ?? 0"
                            :img="item.img ?? 'undified'"
                            :name="item.name"
                            :type="item.type"
                            :status="item.status"
                            :price="item.price"
                          ></FrameworkFoodMenu>
                        </v-col>
                      </v-row> </v-container
                  ></v-window-item>

                  <v-window-item value="three">
                    <v-container class="ma-0 pt-6 pl-0" fluid>
                      <v-row
                        v-for="(item, index) of foodStore.foods"
                        :key="index"
                      >
                        <v-col v-if="item.type === 'ของหวาน'" cols="12">
                          <FrameworkFoodMenu
                            :id="item.id ?? 0"
                            :img="item.img ?? 'undified'"
                            :name="item.name"
                            :type="item.type"
                            :status="item.status"
                            :price="item.price"
                          ></FrameworkFoodMenu>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-window-item>
                  <v-window-item value="four">
                    <v-container class="ma-0 pt-6 pl-0" fluid>
                      <v-row
                        v-for="(item, index) of foodStore.foods"
                        :key="index"
                      >
                        <v-col v-if="item.type === 'เครื่องดื่ม'" cols="12">
                          <FrameworkFoodMenu
                            :id="item.id ?? 0"
                            :img="item.img ?? 'undified'"
                            :name="item.name"
                            :type="item.type"
                            :status="item.status"
                            :price="item.price"
                          ></FrameworkFoodMenu>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-window-item>
                </v-window>
              </v-container>

              <NavigationBottom />
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn.s {
  width: 100px;
  /* height: 200px; */
  min-width: 250px;
  min-height: 100px;
  background-color: rgb(233, 255, 133);
  border-radius: 30px;
  color: black;
}

.v-btn.type {
  /* height: 200px; */
  min-height: 40px;
  background-color: rgb(233, 255, 133);
  border-radius: 30px;
  color: black;
  margin-left: 15px;
}

.fill-width {
  overflow-y: auto;
  flex-wrap: nowrap;
}

.order {
  margin-top: 50px;
  margin-bottom: 100px;
}

.example::-webkit-scrollbar {
  display: none;
}
</style>
