<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { mdiContentSaveCheck, mdiCloseBox, mdiAccountSettings } from "@mdi/js";
const form = ref<VForm | null>(null);
const url = import.meta.env.VITE_URL_PORT;
const userStore = useUserStore();
const confirmDlg = ref();

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await confirmDlg.value.openDialog(
      "Please confirm editing",
      `Do you want to edit this user?`,
      "Accept",
      "Cancel"
    );
    await userStore.saveUser();
  }
}
</script>

<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-dialog v-model="userStore.dialog" persistent width="1024">
    <v-card color="brown-lighten-3">
      <v-card-title class="text-center">
        <div class="mt-3">
          <v-btn :icon="mdiAccountSettings"></v-btn>
        </div>
        <span class="text-h4">User</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <!-- <v-row justify="center">
              <v-avatar size="80"
                ><v-img
                  :src="`${url}/employees/image/${userStore.editedUser.image}`"
                ></v-img
              ></v-avatar>
            </v-row> -->
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Username*"
                  required
                  v-model="userStore.editedUser.username"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Login*"
                  required
                  v-model="userStore.editedUser.login"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="telephone*"
                  required
                  v-model="userStore.editedUser.telEmployee"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must equle than 10',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="address*"
                  required
                  v-model="userStore.editedUser.addressEmployee"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Password*"
                  required
                  v-model="userStore.editedUser.password"
                  v-if="!userStore.editedUser.id"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Password*"
                  required
                  v-model="userStore.editedUser.password"
                  v-else
                  disabled
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="Salary*"
                  required
                  v-model.number="userStore.editedUser.salary"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v >= 9000 || 'Must more than 9000 bath',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="hour*"
                  required
                  v-model.number="userStore.editedUser.hourly"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v >= 30 || 'Length must equle than 30',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  bg-color="brown-lighten-1"
                  label="position*"
                  required
                  v-model="userStore.editedUser.position"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must equle than 3',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6" sm="6" md="6">
                <v-checkbox
                  label="FullTime Employee"
                  v-model="userStore.editedUser.fullTime"
                ></v-checkbox>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-autocomplete
                  label="Role"
                  required
                  v-model="userStore.editedUser.role"
                  :items="['Manager', 'Employee']"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          variant="elevated"
          style="font-weight: bold"
          :prepend-icon="mdiCloseBox"
          @click="userStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn
          color="white"
          variant="elevated"
          style="font-weight: bold"
          :prepend-icon="mdiContentSaveCheck"
          @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
