<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import type { VForm } from "vuetify/components";
import { mdiPaperclip } from "@mdi/js";
const form = ref<VForm | null>(null);
const confirmDlg = ref();
const customerStore = useCustomerStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `Do you want to add this customer?`,
      "Accept",
      "Cancel"
    );
    await customerStore.saveCustomer();
  }
}
</script>
<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-row justify="center">
    <v-dialog v-model="customerStore.addCustomerDialog" persistent width="800">
      <v-card color="brown-lighten-3">
        <v-card-title>
          <span class="text-h5">Add Customer</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="md-4">
                  <v-text-field
                    label="name*"
                    required
                    v-model="customerStore.editCustomer.name"
                    :rules="[(v) => !!v || 'name is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="md-4">
                  <v-text-field
                    label="tel*"
                    required
                    v-model="customerStore.editCustomer.tel"
                    :rules="[(v) => !!v || 'Item is required']"
                  ></v-text-field>
                </v-col>

                <v-col cols="md-4">
                  <v-text-field
                    label="Point*"
                    required
                    v-model="customerStore.editCustomer.point"
                    :rules="[(v) => !!v || 'Item is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    color="deep-purple-accent-4"
                    counter
                    multiple
                    placeholder="Select your files"
                    :prepend-icon="mdiPaperclip"
                    variant="outlined"
                    :show-size="1000"
                    label="File input"
                    accept="image/png, image/jpeg, image/bmp"
                    v-model="customerStore.editCustomer.files"
                  ></v-file-input>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="red"
            variant="text"
            @click="
              (customerStore.dialog = false),
                (customerStore.addCustomerDialog = false)
            "
          >
            Close
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="green" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style>
h6 {
  font-family: "Noto Sans Thai";

  font-size: 1rem;
}

h2,
h3,
h4 {
  font-size: 1.1rem;
}
</style>
