<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import {
  mdiWalletMembership,
  mdiPaperclip,
  mdiCloseBox,
  mdiContentSaveCheck,
} from "@mdi/js";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const confirmDlg = ref();
const url = import.meta.env.VITE_URL_PORT;
const customerStore = useCustomerStore();

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `Do you want to save this customer?`,
      "Accept",
      "Cancel"
    );
    await customerStore.saveCustomer();
  }
}
</script>
<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-row justify="center">
    <v-dialog v-model="customerStore.dialog" persistent width="1024">
      <v-card color="brown-lighten-3">
        <v-container>
          <v-card-title class="text-center">
            <div class="mt-3">
              <v-btn :icon="mdiWalletMembership"></v-btn>
            </div>
            <span class="text-h4">Customer</span>
          </v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      bg-color="brown-lighten-1"
                      label="name*"
                      required
                      v-model="customerStore.editCustomer.name"
                      :rules="[(v) => !!v || 'name is required']"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      bg-color="brown-lighten-1"
                      label="tel*"
                      required
                      v-model="customerStore.editCustomer.tel"
                      :rules="[(v) => !!v || 'Item is required']"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12">
                    <v-text-field
                      bg-color="brown-lighten-1"
                      label="Point*"
                      required
                      v-model="customerStore.editCustomer.point"
                      :rules="[(v) => !!v || 'Item is required']"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-file-input
                      color="deep-purple-accent-4"
                      counter
                      multiple
                      placeholder="Select your files"
                      :prepend-icon="mdiPaperclip"
                      :show-size="1000"
                      label="File input"
                      accept="image/png, image/jpeg, image/bmp"
                      v-model="customerStore.editCustomer.files"
                    ></v-file-input>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="white"
              variant="elevated"
              style="font-weight: bold"
              :prepend-icon="mdiCloseBox"
              @click="customerStore.dialog = false"
            >
              Close
            </v-btn>
            <v-btn
              color="white"
              variant="elevated"
              style="font-weight: bold"
              :prepend-icon="mdiContentSaveCheck"
              @click="save"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
