<script setup lang="ts">
import CustomerDialog from "@/views/customers/CusDialog.vue";
import { useCustomerStore } from "@/stores/customer";
import { computed, onMounted, ref } from "vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import {
  mdiPlusBox,
  mdiNoteEditOutline,
  mdiTrashCanOutline,
  mdiMagnify,
} from "@mdi/js";
import CustomerHeader from "@/components/headers/CustomerHeader.vue";
// import type Customer from '@/store/types/customer.type'
const confirmDlg = ref();
const customerStore = useCustomerStore();
const url = import.meta.env.VITE_URL_PORT;

onMounted(() => {
  console.log(url);
  customerStore.getCustomers();
});
const deleteCustomer = async (id: string) => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete this customer?`,
    "Accept",
    "Cancel"
  );
  customerStore.deleteCustomer(id);
};

const deleteAllCustomers = async () => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete all customer?`,
    "Accept",
    "Cancel"
  );
  await customerStore.deleteCustomers();
};
</script>
<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <CustomerHeader></CustomerHeader>
  <CustomerDialog></CustomerDialog>
  <v-parallax src="bgCus.jpg">
    <v-container>
      <v-card color="#FFE0B2">
        <v-card-title>
          <div class="row"></div>
          <v-btn
            class="mdi mdi-plus font-weight-bold"
            :prepend-icon="mdiPlusBox"
            style="float: right; color: white"
            color="#1B5E20"
            @click="customerStore.dialog = true"
            >Add Customer</v-btn
          >

          <v-spacer> </v-spacer>
          <v-text-field
            style="width: 30%"
            :loading="customerStore.loading"
            density="compact"
            variant="solo"
            v-model="customerStore.keyword"
            label="Search"
            :append-inner-icon="mdiMagnify"
            hide-details
            @click:append-inner="customerStore.getCustomerByTel"
          ></v-text-field>
          <v-table class="mt-5">
            <thead>
              <tr>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  ID
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Name
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Tel
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Point
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of customerStore.customers" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.tel }}</td>
                <td>{{ item.point }}</td>

                <td>
                  <v-btn
                    color="amber lighten-5"
                    class="mr-5"
                    rounded="lg"
                    :prepend-icon="mdiNoteEditOutline"
                    @click="customerStore.editedCustomer(item)"
                  >
                    Edit </v-btn
                  ><v-btn
                    color="red lighten-1"
                    class="mr-5"
                    rounded="lg"
                    :prepend-icon="mdiTrashCanOutline"
                    @click="deleteCustomer(item.id + '')"
                    >Delete</v-btn
                  >
                </td>
              </tr>
            </tbody>
            <tbody v-if="customerStore.customers.length == 0">
              <tr>
                <td colspan="7" class="text-center">No data</td>
              </tr>
            </tbody>
          </v-table>
          <v-container width="100%" justify="center">
            <v-pagination
              justify="center"
              v-model="customerStore.page"
              :length="customerStore.lastPage"
              rounded="circle"
            ></v-pagination>
          </v-container>
        </v-card-title>
      </v-card>
    </v-container>
  </v-parallax>
</template>
