<script lang="ts" setup>
import { useUserStore } from '@/stores/user'
import { onMounted, ref } from 'vue'
import { useOrderStore } from '@/stores/order'
import { useEmployeeStore } from '@/stores/employee'
import employee from '@/services/employee'
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto'
import MainMenu from "@/components/menus/MainMenu.vue";
const labels = ['Sun','Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat']

const data = {
  labels: labels,
  datasets: [
    {
      label: 'จำนวนรายการที่ขายได้',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(102, 0, 204)',
      data: [15, 14, 12, 13, 8,10 , 18]
    },
    {
      label: 'Drink',
      backgroundColor: 'rgb(255, 0, 0)',
      borderColor: 'rgb(204, 99, 132)',
      data: [27, 21, 25, 26, 25,27 , 28]
  
    },
    {
      label: 'Dessert',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [21, 24, 15, 16, 15,27 , 28]
  
    }
  ]
}

const config: ChartConfiguration = {
  type: 'line',
  data: data,
  options: {}
};

onMounted(() => {
  const canvasTag = <ChartItem>document.getElementById('myChart')
    new Chart(
      canvasTag,
      config
    );
  })

const confirmDlg = ref()
const orderStore = useOrderStore()
const employeeStore = useEmployeeStore()
function formatDate(itemDate?: string) {
  console.log(typeof itemDate)
  const formatedDate = new Date(itemDate ?? '')
  const date = formatedDate.toLocaleDateString()
  const time = formatedDate.toTimeString()
  // return Date : ${date} Time : ${time}
}
onMounted(async () => {
  await orderStore.getOrders()
  await employeeStore.getEmployees()
})
</script>

<template >
  <v-parallax   src="./users/bgpPro.jpg"
    height="auto">
  <MainMenu></MainMenu>
  <v-container>
  
  

<div class="d-flex justify-end">
  <v-btn  variant="outlined" to="/GroupMember"> ABOUT & FAQ </v-btn>
</div>

  <v-card>
    

    <canvas id="myChart"></canvas>

    


    
  </v-card>
  </v-container>
  <template>
  <v-card
    class="mx-auto"
    max-width="500"
  >
    <v-card-title class="text-h6 font-weight-regular justify-space-between">
      <span>{{ currentTitle }}</span>
      <v-avatar
        color="primary lighten-2"
        class="subheading white--text"
        size="24"
        v-text="step"
      ></v-avatar>
    </v-card-title>

    <v-window v-model="step">
      <v-window-item :value="1">
        <v-card-text>
          <v-text-field
            label="Email"
            value="john@vuetifyjs.com"
          ></v-text-field>
          <span class="text-caption grey--text text--darken-1">
            This is the email you will use to login to your Vuetify account
          </span>
        </v-card-text>
      </v-window-item>

      <v-window-item :value="2">
        <v-card-text>
          <v-text-field
            label="Password"
            type="password"
          ></v-text-field>
          <v-text-field
            label="Confirm Password"
            type="password"
          ></v-text-field>
          <span class="text-caption grey--text text--darken-1">
            Please enter a password for your account
          </span>
        </v-card-text>
      </v-window-item>

      <v-window-item :value="3">
        <div class="pa-4 text-center">
          <v-img
            class="mb-4"
            contain
            height="128"
            src="https://cdn.vuetifyjs.com/images/logos/v.svg"
          ></v-img>
          <h3 class="text-h6 font-weight-light mb-2">
            Welcome to Vuetify
          </h3>
          <span class="text-caption grey--text">Thanks for signing up!</span>
        </div>
      </v-window-item>
    </v-window>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn
        :disabled="step === 1"
        text
        @click="step--"
      >
        Back
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        :disabled="step === 3"
        color="primary"
        depressed
        @click="step++"
      >
        Next
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
  <v-footer class="bg-brown-darken-4 text-center d-flex flex-column">
    <div style="font-family: Georgia">
      

Coffee@DCoffee.com <br>
BangSeang ,ChonBuri <br>
SevenYear@Company <br>
    </div>
    <v-divider></v-divider>
    <v-img :width="305" cover src="./MASTERSOFCOFFEE-logo-white2.png"></v-img><br>
    <div>{{ new Date().getFullYear() }} — <strong>SevenYear</strong></div>
  </v-footer>
</v-parallax>
</template>
<style>

  .bg-image {
    background-image: url('./users/bgpPro.jpg'); /* กำหนด path และชื่อไฟล์ของรูปภาพ /
    background-size: cover; / กำหนดให้ภาพพื้นหลังขยายตามขนาดของ div /
    background-repeat: no-repeat; / กำหนดให้ภาพพื้นหลังไม่ซ้ำซ้อน /
    background-position: center center; / กำหนดตำแหน่งภาพพื้นหลัง */
  }
</style>
