<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useAuthStore } from "@/stores/auth";

const authStore = useAuthStore();
const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    authStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
const visible = ref(false);
//อย่าลืมLogout
</script>

<template>
  <v-app>
    <v-main>
      <v-img cover src="backg.jpg">
        <v-row>
          <v-col cols="6"> </v-col>
          <v-col cols="6">
            <v-divider
              :thickness="450"
              class="border-opacity-0"
              inset
            ></v-divider>
            <v-card width="400px" class="mx-auto">
              <v-card-title primary-title class="text-center">
                LOGIN
              </v-card-title>
              <v-card-text>
                <v-form ref="form" v-model="valid">
                  <v-text-field
                    v-model="loginName"
                    label="Email"
                    :rules="[
                      (v) => !!v || 'Email is required',
                      (v) =>
                        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(
                          v
                        ) || 'Email is not valid!!',
                    ]"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="password"
                    label="Password"
                    :type="visible ? 'text' : 'password'"
                    @click:append-inner="visible = !visible"
                    :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                    :rules="[
                      (v) => !!v || 'Password is required',
                      (v) =>
                        v.length >= 8 ||
                        'Password must be more than or equal 8 characters',
                    ]"
                    required
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions class="justify-center">
                <v-btn color="success" @click="login">LOGIN</v-btn>
                <v-btn color="error" @click="reset">RESET</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-img>
    </v-main>
  </v-app>
</template>
