<script setup lang="ts">
import { useBillStore } from "@/stores/bill";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import type Employee from "@/types/employee";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { mdiContentSaveCheck, mdiCloseBox, mdiBallot } from "@mdi/js";
const billStore = useBillStore();
const form = ref<VForm | null>(null);
const data = ref(JSON.parse(JSON.stringify(localStorage.getItem("employee"))));
const employee = ref<Employee>(JSON.parse(data.value));
const confirmDlg = ref();

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    billStore.bill_list.employeeId = employee.value.id;
    billStore.sumBill();
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `Do you want to save this material?`,
      "Accept",
      "Cancel"
    );
    await billStore.saveBill();
    reCode();
    billStore.dialog = false;
  }
}

const reCode = () => {
  billStore.bill_list.name = "";
  billStore.bill_list.buy = 0;
  billStore.bill_list.bill_detail = [
    {
      id: 0,
      name: "",
      amount: 0,
      price: 0,
      total: 0,
      materialId: 0,
      billId: 0,
    },
  ];
};
</script>
<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-dialog persistent width="1024" v-model="billStore.dialog">
    <v-card color="brown-lighten-3">
      <v-card-title class="text-center">
        <div class="mt-3">
          <v-btn :icon="mdiBallot"></v-btn>
        </div>
        <span class="text-h4">Bill</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Name*"
                  bg-color="brown-lighten-1"
                  required
                  v-model="billStore.bill_list.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Buy*"
                  bg-color="brown-lighten-1"
                  required
                  v-model.number="billStore.bill_list.buy"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v >= 0 || 'Min_quantity must more than 0',
                  ]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-text style="overflow-y: auto">
        <v-form ref="form">
          <v-container width="80%">
            <v-card
              class="pa-5 ma-2 dialog1;justify-center"
              v-for="(item, index) in billStore.bill_list.bill_detail"
              :key="index"
            >
              <v-card-title style="text-align: center">
                <p>Bill detail {{ index + 1 }}</p>
              </v-card-title>
              <v-card hidden>{{ item.id }}</v-card>
              <v-text-field
                v-model="item.name"
                label="Name"
                :rules="[
                  (v) => !!v || 'Item is required',
                  (v) => v.length >= 3 || 'Length must more than 3',
                ]"
              >
              </v-text-field>
              <v-text-field
                v-model="item.price"
                label="price"
                :rules="[
                  (v) => !!v || 'Item is required',
                  (v) => v >= 0 || 'Min_quantity must more than 0',
                ]"
              ></v-text-field>
              <v-text-field
                v-model="item.amount"
                label="amount"
                :rules="[
                  (v) => !!v || 'Item is required',
                  (v) => v >= 0 || 'Min_quantity must more than 0',
                ]"
              ></v-text-field>
              <v-card class="hidden">{{
                (item.total = item.amount * item.price)
              }}</v-card>
              <v-card-actions class="justify-center">
                <v-btn
                  color="error"
                  style="font-weight: bold"
                  @click="billStore.deleteBillDetail(index)"
                  >Delete</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-container>
        </v-form>
      </v-card-text>
      <v-btn
        color="#8ad879"
        class="ma-4"
        style="font-weight: bold"
        @click="billStore.addBillDetail()"
      >
        Add Bill Detail
      </v-btn>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          variant="elevated"
          style="font-weight: bold"
          :prepend-icon="mdiCloseBox"
          @click="(billStore.dialog = false), reCode()"
        >
          Close
        </v-btn>
        <v-btn
          color="white"
          variant="elevated"
          style="font-weight: bold"
          :prepend-icon="mdiContentSaveCheck"
          @click="save()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style>
.dialog1 {
  width: 50vw;
}
</style>
