<script setup lang="ts">
import { computed, onMounted, ref, watch } from "vue";
import { useMaterialStore } from "@/stores/material";
import MaterialsDialog from "@/views/materials/MaterialsDialog.vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import router from "@/router";
import MaterialHeader from "@/components/headers/MaterialHeader.vue";
import {
  mdiPlusBox,
  mdiMagnify,
  mdiPencil,
  mdiTrashCanOutline,
  mdiClipboardCheckOutline,
  mdiTextBoxCheckOutline,
} from "@mdi/js";
import { mdiReceiptTextPlusOutline } from "@mdi/js";
import AddBillDialog from "@/views/materials/AddBillDialog.vue";
import { useBillStore } from "@/stores/bill";
const billStore = useBillStore();
const materialStore = useMaterialStore();
const confirmDlg = ref();
const paginate = ref(true);

const ToCheckMaterial = (index: string) => {
  router.push("/checkmaterial/" + index);
};

const ToShowBill = (index: string) => {
  router.push("/showBillById/" + index);
};

onMounted(async () => {
  if (paginate.value) {
    materialStore.cat = "";
    await billStore.getBills();
  } else {
    await materialStore.getViewMaterial();
  }
});

onMounted(async () => {
  await billStore.getBills();
  await materialStore.getMaterials();
});

const deleteMaterial = async (id: string) => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete this material?`,
    "Accept",
    "Cancel"
  );
  materialStore.deleteMaterial(id);
};
const deleteAllMaterials = async () => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete all material?`,
    "Accept",
    "Cancel"
  );
  await materialStore.deleteMaterials();
};

watch(paginate, async (newPage, oldPage) => {
  if (paginate.value) {
    materialStore.cat = "";
    await materialStore.getMaterials();
  } else {
    await materialStore.getViewMaterial();
  }
});
</script>
<template>
  <MaterialHeader></MaterialHeader>

  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <MaterialsDialog></MaterialsDialog>
  <AddBillDialog></AddBillDialog>
  <v-parallax src="bgMat.jpg">
    <v-container v-if="paginate">
      <v-card color="#FFE0B2">
        <v-card-title>
          <div class="row"></div>
          <v-btn
            class="font-weight-bold"
            style="float: right; background-color: #000000; color: white"
            color="green-darken-4"
            :prepend-icon="mdiPlusBox"
            @click="materialStore.dialog = true"
            >Add Material</v-btn
          >
          <!-- <v-btn
            class="font-weight-bold mr-2"
            color="#000000"
            style="float: right; color: white"
            :prepend-icon="mdiReceiptTextPlusOutline"
            @click="billStore.dialog = true"
            >Add Bill</v-btn
          > -->
          <v-spacer></v-spacer>
          <v-text-field
            style="width: 30%"
            :loading="materialStore.loading"
            density="compact"
            variant="solo"
            v-model="materialStore.keyword"
            label="Search"
            :append-inner-icon="mdiMagnify"
            hide-details
            @click:append-inner="materialStore.getMatByName"
          ></v-text-field>
        </v-card-title>
        <v-table class="mt-5">
          <thead>
            <tr>
              <th
                style="font-weight: bold; font-family: Tahoma; color: #000000"
              >
                ID
              </th>
              <th
                style="font-weight: bold; font-family: Tahoma; color: #000000"
              >
                Name
              </th>
              <th
                style="font-weight: bold; font-family: Tahoma; color: #000000"
              >
                Min_quantity
              </th>
              <th
                style="font-weight: bold; font-family: Tahoma; color: #000000"
              >
                Quantity
              </th>
              <th
                style="font-weight: bold; font-family: Tahoma; color: #000000"
              >
                Unit
              </th>
              <th
                style="font-weight: bold; font-family: Tahoma; color: #000000"
              >
                Price_per_unit
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in materialStore.materials" :key="index">
              <td>{{ index + 1 }}</td>
              <td v-if="item.min_quantity <= 5" style="color: red">
                {{ item.name }}
              </td>
              <td v-if="item.min_quantity > 5">{{ item.name }}</td>
              <td>{{ item.min_quantity }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.price_per_unit }}</td>
              <td>
                <v-btn
                  color="pink"
                  class="mr-5"
                  :prepend-icon="mdiPencil"
                  @click="materialStore.editMaterial(item)"
                  >Check</v-btn
                >
                <v-btn
                  color="red lighten-1"
                  class="mr-5"
                  :prepend-icon="mdiTrashCanOutline"
                  @click="deleteMaterial(item.id + '')"
                  >Delete</v-btn
                >
              </td>
            </tr>
          </tbody>
          <tbody v-if="materialStore.materials.length == 0">
            <tr>
              <td colspan="7" class="text-center">NO-INFO</td>
            </tr>
          </tbody>
        </v-table>
        <v-container width="100%" justify="center">
          <v-pagination
            justify="center"
            v-model="materialStore.page"
            :length="materialStore.lastPage"
            rounded="circle"
          ></v-pagination>
        </v-container>
      </v-card>
    </v-container>

    <v-container v-else>
      <v-card>
        <v-card-title>
          <div class="row"></div>
          <v-btn
            class="mdi mdi-plus"
            style="float: right; background-color: #000000; color: white"
            @click="materialStore.dialog = true"
            >Add Material</v-btn
          >
          <v-btn
            class="mdi mdi-receipt-text-plus-outline mr-2"
            color="#000000"
            style="float: right; color: white"
            @click="billStore.dialog = true"
            >Add Bill</v-btn
          >
          <v-spacer></v-spacer>
          <v-text-field
            style="width: 30%"
            :loading="materialStore.loading"
            density="compact"
            variant="solo"
            v-model="materialStore.keyword"
            label="Search"
            append-inner-icon="mdi-magnify"
            hide-details
            @click:append-inner="materialStore.getMatByName"
          ></v-text-field>
        </v-card-title>
        <v-table class="text-center mt-5">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Min_quantity</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>Price_per_unit</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in materialStore.materials"
              :key="index"
              style="text-align: center"
            >
              <td>{{ index + 1 }}</td>
              <td v-if="item.min_quantity <= 5" style="color: red">
                {{ item.name }}
              </td>
              <td v-if="item.min_quantity > 5">{{ item.name }}</td>
              <td>{{ item.min_quantity }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.price_per_unit }}</td>
              <td>
                <v-btn
                  color="##98DFD6"
                  class="mr-5"
                  icon="mdi-pencil"
                  @click="materialStore.editMaterial(item)"
                ></v-btn>
                <v-btn
                  color="#F55050"
                  class="mr-5"
                  icon="mdi-delete"
                  @click="deleteMaterial(item.id + '')"
                ></v-btn>
              </td>
            </tr>
          </tbody>
          <tbody v-if="materialStore.materials.length == 0">
            <tr>
              <td colspan="7" class="text-center">No data</td>
            </tr>
          </tbody>
        </v-table>
        <v-container width="100%" justify="center">
          <v-pagination
            justify="center"
            v-model="materialStore.page"
            :length="materialStore.lastPage"
            rounded="circle"
          ></v-pagination>
        </v-container>
      </v-card>
    </v-container>
  </v-parallax>
</template>
