<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { onMounted, ref, watch } from "vue";

import {
  mdiHome,
  mdiCashRegister,
  mdiCoffee,
  mdiLogout,
  mdiCogs,
  mdiAccountSettings,
  mdiWalletMembership,
  mdiAccountBoxMultiple,
  mdiFood,
  mdiHistory,
  mdiNetworkPos,
  mdiSeal,
  mdiCashSync,
} from "@mdi/js";

const authStore = useAuthStore();
const user = ref<any | null>(localStorage.getItem("user"));
const user_ = JSON.parse(user.value);
const employee = ref<any | null>(localStorage.getItem("employee"));
const employee_ = JSON.parse(employee.value);
const url = import.meta.env.VITE_URL_PORT;
</script>

<template>
  <v-navigation-drawer expand-on-hover rail app color="brown">
    <v-card>
      <v-img cover src="bg4.jpg">
        <v-avatar color="grey" size="55" rounded="5">
          <v-img
            src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/coffee_zorro_avatar_cup-512.png"
          ></v-img>
        </v-avatar>
        <v-list-item>
          <v-list-item-title >{{ user_.username }}</v-list-item-title>
          <v-list-item-title>{{ user_.login }}</v-list-item-title>
          <v-list-item-title>{{ user_.role }}</v-list-item-title></v-list-item
        >
      </v-img>
    </v-card>
    <v-list density="compact" nav>
      <v-list-item
        :prepend-icon="mdiHome"
        title="Home"
        value="home page"
        to="/"
      ></v-list-item>

      <v-list-group value="Order and Pay">
        <template v-slot:activator="{ props }">
          <v-list-item
            v-bind="props"
            title="Order & Payment"
            :prepend-icon="mdiCashRegister"
          ></v-list-item>
        </template>

        <v-list-item
          :prepend-icon="mdiNetworkPos"
          title="Point of Sell"
          value="Point of Sell"
          to="/pointofsell"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiSeal"
          title="Bill & Promotion"
          value="Bill"
          to="/bill"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCashSync"
          title="Payment Option"
          value="Payment Option"
          to="/Payment"
        ></v-list-item>
      </v-list-group>

      <v-list-item
        :prepend-icon="mdiCoffee"
        title="Product List"
        value="Product List"
        to="/prodlist"
      ></v-list-item>

      <v-list-group value="Setting">
        <template v-slot:activator="{ props }">
          <v-list-item
            v-bind="props"
            title="Setting"
            :prepend-icon="mdiCogs"
          ></v-list-item>
        </template>

        <v-list-item
          :prepend-icon="mdiAccountSettings"
          title="User List"
          value="User"
          to="/userlist"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiWalletMembership"
          title="Customer List"
          value="Customer"
          to="/cuslist"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountBoxMultiple"
          title="Employee List"
          value="Employee"
          to="/employlist"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiFood"
          title="Material List"
          value="Material List"
          to="/matlist"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiHistory"
          title="Sales History"
          value="Sales History"
          to="/histolist"
        ></v-list-item>
      </v-list-group>

      <v-list-item
        :prepend-icon="mdiLogout"
        title="Logout"
        value="Logout"
        to="/login"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
