<script lang="ts" setup>
import { useQrcodeStore } from "@/stores/qrcode";
import { useCreditCardStore } from "@/stores/credit";
import { useCashStore } from "@/stores/cash";
import { useProductStore } from "@/stores/product";
// import { usePromotionStore } from "@/stores/promotion";

import MenuCard from "@/components/POS/MenuCard.vue";
import { useToppingStore } from "@/stores/topping";
import {
  mdiAccountSearch,
  mdiAccountMultiplePlus,
  mdiCashMultiple,
  mdiCreditCard,
  mdiQrcodeScan,
  mdiPrinter,
  mdiCashRegister,
  mdiCloseOutline,
  mdiTrashCanOutline,
  mdiCartRemove,
  mdiDelete,
  mdiMinusThick,
  mdiPlus,
} from "@mdi/js";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import MainMenu from "./menus/MainMenu.vue";
import QrDialog from "./POS/QrDialog.vue";
import CashDialog from "./POS/CashDialog.vue";
import CreditDialog from "./POS/CreditDialog.vue";
import TopDialog from "./POS/TopDialog.vue";
import type Product from "@/types/Product";
import { ref, computed, onMounted, watch } from "vue";
import { useOrderStore } from "@/stores/order";
import { useCatagoryStore } from "@/stores/catagory";
import { usePointOfSale } from "@/stores/storeall";
import type { OrderItem } from "@/types/OrderItem";
import type DialogCompleteOrderVue from "./POS/DialogCompleteOrder.vue";
import FindMemberDialog from "./POS/FindMemberDialog.vue";
import type AddCustomerDialogVue from "@/views/customers/AddCustomerDialog.vue";
const pointOfSaleStore = usePointOfSale();
const qrStore = useQrcodeStore();
const topDialog = useToppingStore();
const creditStore = useCreditCardStore();
const cashStore = useCashStore();
const orderStore = useOrderStore();
const productStore = useProductStore();
const categoryStore = useCatagoryStore();
const confirmDlg = ref();
const tab = ref(null);
const paginate = ref(true);
const product_ = computed(() => {
  return pointOfSaleStore.temProduct;
});
const addToCart = (item: Product) => {
  pointOfSaleStore.updatetmpProduct(item);
  if (item.catagoryId !== 1 && item.catagoryId !== 3) {
    pointOfSaleStore.dialogTopping = true;
  } else {
    const product = pointOfSaleStore.orderItemList.findIndex((item_) => {
      if (item_.productId === product_.value.id) {
        item_.amount += 1;
        item_.total = item_.amount * item_.price;
        return item_;
      }
    });
    if (product < 0) {
      let orderItem = ref<OrderItem>({
        name: product_.value.name,
        amount: 1,
        productId: product_.value.id!,
        price: product_.value.price,
        total: product_.value.price * 1,
        image: product_.value.image,
      });
      pointOfSaleStore.addToOrder(orderItem.value);
    }
  }
};

const deleteOrderItem = (index: number) => {
  pointOfSaleStore.orderItemList.splice(index, 1);
};
const addAmoutProduct = (index: number) => {
  pointOfSaleStore.orderItemList[index].amount += 1;
  pointOfSaleStore.orderItemList[index].total =
    pointOfSaleStore.orderItemList[index].amount *
    pointOfSaleStore.orderItemList[index].price;
};
const reduceAmoutProduct = (index: number) => {
  if (pointOfSaleStore.orderItemList[index].amount <= 1) {
    deleteOrderItem(index);
  } else {
    pointOfSaleStore.orderItemList[index].amount -= 1;
    pointOfSaleStore.orderItemList[index].total =
      pointOfSaleStore.orderItemList[index].amount *
      pointOfSaleStore.orderItemList[index].price;
  }
};
const aboutCal = computed(() => {
  return pointOfSaleStore.CaltotalPrice();
});
onMounted(async () => {
  productStore.getProductByCatagory("2");
  pointOfSaleStore.total_discount;
  if (paginate.value) {
    productStore.cat = "";
    await productStore.getProducts();
  } else {
    await productStore.getAllProductNotPageinate();
  }
});
watch(paginate, async () => {
  if (paginate.value) {
    productStore.cat = "";
    await productStore.getProducts();
  } else {
    await productStore.getAllProductNotPageinate();
  }
});

function Paycash() {
  pointOfSaleStore.dialogPayment = false;
  pointOfSaleStore.order.payment = "Cash";
}
// onMounted(async () => {
//   await categoryStore.getCategories();
//   await productStore.getProductsByCategory(productStore.category);
// });
// const deleleOrder = async (index: number) => {
//   try {
//     await confirmDlg.value.openDialog(
//       "Are you sure?",
//       `คุณต้องการลบรายการที่ ${index + 1} นี้หรือไม่`
//     );
//     await orderStore.deleteProductOrder(index);
//   } catch (e) {
//     console.log(e);
//   }
// };
// const ClearOrder = async () => {
//   try {
//     await confirmDlg.value.openDialog(
//       "Are you sure?",
//       `คุณต้องการลบรายการทั้งหมดหรือไม่`
//     );
//     await orderStore.clearOrder();
//   } catch (e) {
//     console.log(e);
//   }
// };
</script>

<template>
  <MainMenu></MainMenu>
  <v-card color="green-darken-4" height="860">
    <!-- <div>
      <a
        font-family="inherit!important"
        class="v-breadcrumbs-item v-breadcrumbs-item--link"
        href="/employlist"
        >Point of Sell >
      </a>
      <a
        font-family="inherit!important"
        class="v-breadcrumbs-item v-breadcrumbs-item--link"
        href="/employlist"
        >Cart >
      </a>
      <a
        font-family="inherit!important"
        class="v-breadcrumbs-item v-breadcrumbs-item--link"
        href="/employlist"
        >member & Promotion >
      </a>
      <a
        font-family="inherit!important"
        class="v-breadcrumbs-item v-breadcrumbs-item--link"
        href="/employlist"
        >Payment >
      </a>
      <a
        font-family="inherit!important"
        class="v-breadcrumbs-item v-breadcrumbs-item--link"
        href="/employlist"
        >Point of Sell > Cart > member & Promotion > Payment > Bill
      </a>
    </div> -->
    <v-row>
      <CashDialog></CashDialog>
      <CreditDialog></CreditDialog>
      <QrDialog></QrDialog>
      <TopDialog></TopDialog>
      <DialogCompleteOrderVue></DialogCompleteOrderVue>
      <FindMemberDialog></FindMemberDialog>
      <AddCustomerDialogVue></AddCustomerDialogVue>
      <PromotionDialogVue></PromotionDialogVue>
      <v-col cols="8">
        <v-card height="810px">
          <v-container fluid>
            <v-tabs fixed-tabs color="#9F8772" dark v-model="tab">
              <v-tab value="one" @click="productStore.getProductByCatagory('5')"
                ><h6>Drinks</h6></v-tab
              >
              <v-tab @click="productStore.getProductByCatagory('6')" value="two"
                ><h6>Desserts</h6></v-tab
              >
            </v-tabs>

            <v-container fluid style="height: 80vh; overflow: auto">
              <v-window v-model="tab">
                <v-window-item value="one">
                  <v-container>
                    <v-row>
                      <v-col
                        v-for="item of productStore.products"
                        :key="item.id"
                        cols="12"
                        md="3"
                      >
                        <v-card width="200px">
                          <v-card-title
                            ><v-img
                              :src="`http://localhost:3000/products/image/${item.image}`"
                              height="170px"
                            ></v-img
                          ></v-card-title>
                          <v-card-text class="text-center">{{
                            item.name
                          }}</v-card-text>
                          <v-card-subtitle class="text-center">{{
                            item.price
                          }}</v-card-subtitle>
                          <v-card-actions class="justify-center">
                            <v-btn color="#6D4C41" @click="addToCart(item)"
                              >ADD ITEM</v-btn
                            >
                          </v-card-actions>
                        </v-card>
                      </v-col></v-row
                    >
                  </v-container>
                </v-window-item>

                <v-window-item value="two">
                  <v-container class="ma-0 pt-6 pl-0" fluid>
                    <v-row v-for="item in productStore.products" :key="item.id">
                      <v-col v-if="item.type === 'DESSERTS'" cols="12">
                        <MenuCard
                          :name="item.name"
                          :cost="item.price"
                          :type="item.type + ''"
                          :img="item.image!"
                          :price="item.price"
                          :catagory-id="item.catagoryId + ''"
                          @click="addToCart(item)"
                        >
                        </MenuCard>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-window-item>
              </v-window>
            </v-container>

            <NavigationBottom /> </v-container></v-card
      ></v-col>
      <v-col cols="4">
        <v-card>
          <v-card-item>
            <div class="mt-1">
              <v-card-subtitle style="font-size: larger; font-family: Georgia"
                >Sub Total : {{ aboutCal?.total_ }} Bath</v-card-subtitle
              >
            </div>
            <div class="mt-1"></div>
            <div class="mt-1">
              <v-card-subtitle style="font-size: larger; font-family: Georgia"
                >Total : {{ aboutCal?.totalAndDicount }} Bath</v-card-subtitle
              >
            </div>

            <div class="mt-1"></div>
            <AddCustomerDialog></AddCustomerDialog>
            <v-row class="mt-1">
              <v-col>
                <v-btn
                  :prepend-icon="mdiCashMultiple"
                  color="green"
                  class="d-flex align-center rounded-lg"
                  dark
                  width="100%"
                  height="30px"
                  style="font-weight: bold"
                  to="/bill"
                  flat
                  >BUY
                  <v-tooltip activator="parent" location="end">Cash</v-tooltip>
                </v-btn>
              </v-col>
            </v-row>
            <v-row class="mt-1">
              <v-col>
                <v-btn
                  :prepend-icon="mdiCartRemove"
                  color="#fc0000"
                  class="d-flex align-center rounded-lg"
                  dark
                  width="100%"
                  height="30px"
                  style="font-weight: bold"
                  @click="pointOfSaleStore.deleteAllOrder"
                  >Remove<v-tooltip activator="parent" location="end"
                    >ClearOrder</v-tooltip
                  ></v-btn
                >
              </v-col>
            </v-row>
            <v-divider
              :thickness="10"
              class="border-opacity-0"
              inset
            ></v-divider>
          </v-card-item>
        </v-card>
        <v-divider :thickness="10" class="border-opacity-0" inset></v-divider>
        <v-card>
          <div>
            <v-table fixed-header height="625px">
              <thead>
                <tr>
                  <th
                    style="font-family: Georgia"
                    class="font-weight-bold text-center"
                  >
                    OrderItemList
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- <div class="flow-root">
                  <ul
                    role="list"
                    class="divide-y divide-gray-200 dark:divide-gray-700"
                  > -->
                <tr>
                  <div v-if="pointOfSaleStore.orderItemList.length === 0">
                    <v-img
                      :width="300"
                      aspect-ratio="1/1"
                      cover
                      src="https://materialpro-vue3-dark.vercel.app/assets/empty-shopping-cart-3a63d6cf.svg"
                    ></v-img>
                  </div>
                  <div
                    v-else
                    v-for="(item, index) of pointOfSaleStore.orderItemList"
                    :key="index"
                  >
                    <td>
                      {{ item.name }}
                    </td>

                    <!-- <v-col>
                              <div class="flex items-center justify-between">
                                <div
                                  class="flex items-center mb-5 items-center text-base font-semibold text-gray-900 dark:text-white"
                                >
                                  ฿{{ item.price }}
                                  <p
                                    class="text-sm text-gray-500 mr-2 px-2.5 py-0.5 dark:text-gray-400"
                                  >
                                    x {{ item.amount }}
                                  </p>
                                </div>
                              </div>
                            </v-col> -->

                    <td>
                      <v-btn
                        color="warning"
                        variant="text"
                        :icon="mdiMinusThick"
                        size="x-small"
                        @click="reduceAmoutProduct(index)"
                      ></v-btn
                      ><span class="pa-2">{{ item.amount }}</span>
                      <v-btn
                        color="secondary"
                        :icon="mdiPlus"
                        size="x-small"
                        variant="text"
                        @click="addAmoutProduct(index)"
                      ></v-btn>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                      {{ item.total }}
                    </td>
                    <td></td>
                    <td></td>

                    <td>
                      <v-btn
                        class="text-center"
                        style="text-align: right; margin-left: 50%"
                        color="red"
                        :icon="mdiDelete"
                        size="x-small"
                        @click="deleteOrderItem(index)"
                      ></v-btn>
                    </td>

                    <v-divider></v-divider>
                  </div>
                </tr>
                <!-- </ul> -->
                <!-- </div> -->
              </tbody>
            </v-table>
          </div></v-card
        ></v-col
      >
    </v-row>
  </v-card>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
</template>

<!-- <script lang="ts">
export default {
  data(): {
    tab: string;
    coffeeItems: {
      name: string;
      price: string;
      imageUrl: string;
    }[];
    pastryItems: {
      name: string;
      price: string;
      imageUrl: string;
    }[];
    cartItems: {
      name: string;
      price: string;
      quantity: number;
    }[];
  } {
    return {
      tab: "drinks",
      coffeeItems: [
        {
          name: "แอปเปิ้ลโซดา",
          price: "40.00",
          imageUrl:
            "https://krasaicafe.com/wp-content/uploads/2021/11/2021-11-05-10-24-27-267.jpg",
        },
        {
          name: "บลูฮาวายโซดา",
          price: "40.00",
          imageUrl:
            "https://krasaicafe.com/wp-content/uploads/2021/11/2021-11-05-10-26-03-728.jpg",
        },
        {
          name: "สตอเบอร์รี่โซดา",
          price: "40.00",
          imageUrl:
            "https://krasaicafe.com/wp-content/uploads/2021/11/2021-11-05-10-25-10-107.jpg",
        },
        {
          name: "เลม่อนโซดา",
          price: "40.00",
          imageUrl:
            "https://krasaicafe.com/wp-content/uploads/2021/11/2021-11-05-10-26-48-235.jpg",
        },
        {
          name: "โรสลิ้นจี่",
          price: "40.00",
          imageUrl:
            "https://img.wongnai.com/p/400x0/2022/04/24/03385936390b4557b5c1a9bbf05438b7.jpg",
        },
        {
          name: "ชาพีช",
          price: "40.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084124258332049509/image.png",
        },
        {
          name: "ชาไทย",
          price: "40.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084121902274060368/milkTea1.jpg",
        },
        {
          name: "ชามะนาว",
          price: "40.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084123826461360208/lemonTea.jpg",
        },
        {
          name: "ชาเขียว",
          price: "40.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084125226159321108/greenTea.jpg",
        },
        {
          name: "มัจฉะลาเต้เย็น",
          price: "45.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084126976891170967/machaLatte.jpg",
        },
        {
          name: "โกโก้เย็น",
          price: "40.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084127338599559292/cocoa.jpg",
        },
        {
          name: "ลาเต้เย็น",
          price: "45.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084128525902151760/latte.jpg",
        },
        {
          name: "โกโก้ส้มยูซุ",
          price: "50.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084133021994725466/ss.jpg",
        },
        {
          name: "ลาเต้ร้อน",
          price: "35.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084130645531426997/104668762_308182170580099_2878179442239508126_n.jpg",
        },
        {
          name: "เอสเพรสโซ่ร้อน",
          price: "35.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084132490752569344/es.jpg",
        },
        {
          name: "อเมริกาโน่ร้อน",
          price: "35.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084445372816035911/americano.jpg",
        },
        {
          name: "คาปูชิโน่ร้อน",
          price: "35.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084446187844804658/image.png",
        },
        {
          name: "มอคค่าร้อน",
          price: "35.00",
          imageUrl:
            "https://cdn.discordapp.com/attachments/1084113377456029776/1084446779606577192/image.png",
        },
      ],
      pastryItems: [
        {
          name: "เค้กไวท์ช็อคโกแลต",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/DefaultData/White_Chocolate_Cheesecake.jpg?v=202206091808",
        },
        {
          name: "เค้กช็อกโกแลต",
          price: "60.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/0/I1MJQjJJO/Cake/Chocolate_Overload1.jpg?v=202206091808",
        },
        {
          name: "มอคค่ามูสเค้ก",
          price: "65.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/0/I1MJQjJJO/DefaultData/Mocha_Mousse_Cake2.jpg?v=202206091808",
        },
        {
          name: "เค้กมูสชาไทย",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/Cake/thai_tea9.jpg?v=202206091808",
        },
        {
          name: "บราวนี่ชีสเค้ก",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/DefaultData/Brownie_Cheescake_1.jpg?v=202206091808",
        },
        {
          name: "เค้กทิรามิสุ",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/DefaultData/Tiramisu1.jpg?v=202206091808",
        },
        {
          name: "ช็อคโกแลตลาวา",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/DefaultData/Choc_Lava_3_1.jpg?v=202206091808",
        },
        {
          name: "เค้กส้มดีไลท์",
          price: "45.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/Vegan/orange_vegan3.jpg?v=202206091808",
        },
        {
          name: "เค้กแครอทครีมชีส",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/Vegan/carrot_vegan2_.jpg?v=202206091808",
        },
        {
          name: "แบล็คฟอเรสท์โรล",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/Cake/Black_Forest_2.jpg?v=202206091808",
        },
        {
          name: "มัจฉะสตอเบอร์รี่โรล",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/Cake/Matcha_Strawberry_Roll2_1.jpg?v=202206091808",
        },
        {
          name: "ฮันนี่โทสต์",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/DefaultData/Honey_DSCF5234_120218_1.jpg?v=202206091808",
        },
        {
          name: "มัฟฟิน",
          price: "45.00",
          imageUrl:
            "https://sweetme-bakery.com/wp-content/uploads/2019/09/SweetMe-Treats-Muffin-03.jpg",
        },
        {
          name: "เค้กหน้านิ่มวนิลลา",
          price: "50.00",
          imageUrl:
            "https://sweetme-bakery.com/wp-content/uploads/2022/08/Cake-Box_Smile.jpg",
        },
        {
          name: "สโคนเนยสด",
          price: "45.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/0/I1MJQjJJO/BrownieMuffin/Rich_Butter_Scone1.jpg?v=202206091808",
        },
        {
          name: "บราวนี่มัจฉะ",
          price: "35.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/0/I1MJQjJJO/BrownieMuffin/Matcha_Brownies1.jpg?v=202206091808",
        },
        {
          name: "ช็อคโกแลตฟัดจ์",
          price: "55.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/Vegan/Choc_Vegan1.jpg?v=202206091808",
        },
        {
          name: "เบเกิลงาดำ",
          price: "30.00",
          imageUrl:
            "https://image.makewebeasy.net/makeweb/m_1920x0/I1MJQjJJO/DefaultData/Bagel_Black_Sesame_DSCF3248_1.jpg?v=202206091808",
        },
      ],
      cartItems: [],
    };
  },
  methods: {
    addToCart(item: { name: string; price: string }): void {
      const index = this.cartItems.findIndex(
        (cartItem) => cartItem.name === item.name
      );
      if (index === -1) {
        this.cartItems.push({
          name: item.name,
          price: item.price,
          quantity: 1,
        });
      } else {
        this.cartItems[index].quantity += 1;
      }
    },
    clearCart(): void {
      this.cartItems = [];
    },
    // ... existing methods ...
    removeFromCart(index: number): void {
      this.cartItems.splice(index, 1);
    },
    showcart() {
      console.log("cart");
    },
    summarizeCart() {
      const Total = this.cartItems.reduce(
        (accumulator, item) =>
          accumulator + parseFloat(item.price) * item.quantity,
        0
      );
      console.log(Total, "บาท");
    },
  },
  components: {
    QrDialog,
    MainMenu,
    CashDialog,
    CreditDialog,
    // PromotionDialog,
    TopDialog,
    DialogCompleteOrderVue,
    FindMemberDialog,
    AddCustomerDialogVue,
    PromotionDialogVue,
  },
};
</script> -->

<style>
.cart-container {
  height: 600px; /* set the container height */
  overflow-y: scroll; /* enable scrolling */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #bcaaa4;
}

button {
  padding: 6px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-container {
  height: 680px; /* set the container height */
  overflow-y: scroll; /* enable scrolling */
}

.product {
  height: 50px; /* set the height of each product */
  border: 1px solid black; /* add a border for visual clarity */
}
</style>
