<script setup lang="ts">
import EmployeeDialog from "@/views/employees/EmployeeDialog.vue";
import { useEmployeeStore } from "@/stores/employee";
import { computed, onMounted, ref } from "vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import EmployeeHeader from "@/components/headers/EmployeeHeader.vue";
import {
  mdiPlusBox,
  mdiNoteEditOutline,
  mdiTrashCanOutline,
  mdiMagnify,
} from "@mdi/js";
// import type Customer from '@/store/types/customer.type'
const confirmDlg = ref();
const employeeStore = useEmployeeStore();
const url = import.meta.env.VITE_URL_PORT;
const loading = ref(false);

onMounted(() => {
  console.log(url);
  employeeStore.getEmployees();
});
const deleteEmployee = async (id: string) => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete this employee?`,
    "Accept",
    "Cancel"
  );
  employeeStore.deleteEmployee(id);
};

const deleteAllEmployees = async () => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete all employee?`,
    "Accept",
    "Cancel"
  );
  await employeeStore.deleteEmployees();
};
</script>
<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <EmployeeHeader></EmployeeHeader>
  <employee-dialog></employee-dialog>
  <v-parallax src="bgEmp.jpg">
    <v-container>
      <v-card color="#FFE0B2">
        <v-card-title>
          <div class="row"></div>
          <v-btn
            class="mdi mdi-plus font-weight-bold"
            style="float: right; color: white"
            :prepend-icon="mdiPlusBox"
            color="#1B5E20"
            @click="employeeStore.dialog = !employeeStore.dialog"
            >Add employee</v-btn
          >

          <v-spacer> </v-spacer>
          <v-text-field
            style="width: 30%"
            :loading="employeeStore.loading"
            density="compact"
            variant="solo"
            v-model="employeeStore.keyword"
            label="Search"
            :append-inner-icon="mdiMagnify"
            hide-details
            @click:append-inner="employeeStore.getEmployeeByName"
          ></v-text-field>

          <v-table class="mt-6">
            <thead>
              <tr>
                <th></th>
                <th
                  style="
                    font-weight: bold;
                    font-family: Tahoma;
                    color: #000000;
                    font-size: large;
                  "
                >
                  ID
                </th>
                <th
                  style="
                    font-weight: bold;
                    font-family: Tahoma;
                    color: #000000;
                    font-size: large;
                  "
                >
                  Name
                </th>
                <th
                  style="
                    font-weight: bold;
                    font-family: Tahoma;
                    color: #000000;
                    font-size: large;
                  "
                >
                  Address
                </th>
                <th
                  style="
                    font-weight: bold;
                    font-family: Tahoma;
                    color: #000000;
                    font-size: large;
                  "
                >
                  Tel
                </th>
                <th
                  style="
                    font-weight: bold;
                    font-family: Tahoma;
                    color: #000000;
                    font-size: large;
                  "
                >
                  Email
                </th>
                <th
                  style="
                    font-weight: bold;
                    font-family: Tahoma;
                    color: #000000;
                    font-size: large;
                  "
                >
                  Position
                </th>
                <th
                  style="
                    font-weight: bold;
                    font-family: Tahoma;
                    color: #000000;
                    font-size: large;
                  "
                >
                  Hourly
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody v-if="employeeStore.employees.length > 0">
              <tr v-for="item of employeeStore.employees" :key="item.id">
                <td>
                  <v-img
                    :src="`http://localhost:3000/employees/image/${item.image}`"
                  ></v-img>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.tel }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.position }}</td>
                <td>{{ item.hourly }}</td>

                <td>
                  <v-btn
                    class="mr-5"
                    color="amber lighten-5"
                    @click="employeeStore.editedEmployee(item)"
                    rounded="lg"
                    :prepend-icon="mdiNoteEditOutline"
                    >Edit</v-btn
                  ><v-btn
                    color="red lighten-1"
                    @click="deleteEmployee(item.id + '')"
                    rounded="lg"
                    :prepend-icon="mdiTrashCanOutline"
                    >Delete</v-btn
                  >
                </td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td colspan="7" class="text-center">No data</td>
              </tr>
            </tbody>
          </v-table>
          <v-container width="100%" justify="center">
            <v-pagination
              justify="center"
              v-model="employeeStore.page"
              :length="employeeStore.lastPage"
              rounded="circle"
            ></v-pagination>
          </v-container>
        </v-card-title>
      </v-card>
    </v-container>
  </v-parallax>
</template>
