<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import { ref } from "vue";
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import type { VForm } from "vuetify/components";
import {
  mdiContentSaveCheck,
  mdiCloseBox,
  mdiAccountBoxMultiple,
} from "@mdi/js";
import { mdiPaperclip } from "@mdi/js";
const form = ref<VForm | null>(null);
const url = import.meta.env.VITE_URL_PORT;
const confirmDlg = ref();
const employeeStore = useEmployeeStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await confirmDlg.value.openDialog(
      "Please confirm editing",
      `Do you want to edit this employee?`,
      "Accept",
      "Cancel"
    );
    await employeeStore.saveEmployee();
  }
}
</script>
<template>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-dialog v-model="employeeStore.dialog" persistent width="1024">
    <v-card color="brown-lighten-3">
      <v-container>
        <v-card-title class="text-center">
          <div class="mt-3">
            <v-btn :icon="mdiAccountBoxMultiple"></v-btn>
          </div>
          <span class="text-h4">Employee</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    bg-color="brown-lighten-1"
                    label="name*"
                    required
                    v-model="employeeStore.editEmployee.name"
                    :rules="[(v) => !!v || 'name is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    bg-color="brown-lighten-1"
                    label="address*"
                    required
                    v-model="employeeStore.editEmployee.address"
                    :rules="[(v) => !!v || 'address is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    bg-color="brown-lighten-1"
                    label="tel*"
                    required
                    v-model="employeeStore.editEmployee.tel"
                    :rules="[(v) => !!v || 'tel is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    bg-color="brown-lighten-1"
                    label="email*"
                    required
                    v-model="employeeStore.editEmployee.email"
                    :rules="[(v) => !!v || 'email is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    bg-color="brown-lighten-1"
                    label="hourly*"
                    required
                    v-model.number="employeeStore.editEmployee.hourly"
                    :rules="[(v) => !!v || 'Hourly is required']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-autocomplete
                    label="position*"
                    v-model="employeeStore.editEmployee.position"
                    :items="[
                      'Barista',
                      'Cashier',
                      'Manager',
                      'Baker',
                      'Server',
                      'Cleaner',
                    ]"
                  >
                  </v-autocomplete>
                </v-col>

                <v-col cols="12">
                  <v-file-input
                    counter
                    multiple
                    placeholder="Select your files"
                    :prepend-icon="mdiPaperclip"
                    label="File input"
                    accept="image/png, image/jpeg, image/bmp"
                    v-model="employeeStore.editEmployee.files"
                  ></v-file-input>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            variant="elevated"
            style="font-weight: bold"
            :prepend-icon="mdiCloseBox"
            @click="employeeStore.dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="white"
            variant="elevated"
            style="font-weight: bold"
            :prepend-icon="mdiContentSaveCheck"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-container>
    </v-card>
  </v-dialog>
</template>
