<script lang="ts" setup>
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import UserDialog from "@/components/user/UserDialog.vue";
import UserHeader from "@/components/headers/UserHeader.vue";
import {
  mdiPlusBox,
  mdiNoteEditOutline,
  mdiTrashCanOutline,
  mdiMagnify,
} from "@mdi/js";
import { useUserStore } from "@/stores/user";
import { onMounted, ref, computed } from "vue";
const confirmDlg = ref();
const userStore = useUserStore();
onMounted(async () => {
  await userStore.getUsers();
});
const deleteUser = async (id: number) => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete this user?`,
    "Accept",
    "Cancel"
  );
  userStore.deleteUser(id);
};
const deleteAllUsers = async () => {
  await confirmDlg.value.openDialog(
    "Please confirm deleting",
    `Do you want to delete all user?`,
    "Accept",
    "Cancel"
  );
  userStore.deleteAllUser();
};
</script>
<template>
  <UserHeader></UserHeader>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <UserDialog></UserDialog>
  <v-parallax src="bgUser.jpg">
    <v-container>
      <v-card color="#FFE0B2">
        <v-card-title>
          <div class="row"></div>

          <v-btn
            class="mdi mdi-plus"
            :prepend-icon="mdiPlusBox"
            style="float: right; color: white; font-weight: bold"
            color="#1B5E20"
            @click="userStore.dialog = true"
            >Add user</v-btn
          >

          <v-spacer> </v-spacer>

          <v-text-field
            style="width: 30%"
            :loading="userStore.loading"
            density="compact"
            variant="solo"
            v-model="userStore.keyword"
            label="Search"
            :append-inner-icon="mdiMagnify"
            hide-details
            @click:append-inner="userStore.getUserByUsername"
          ></v-text-field>

          <v-table class="mt-5">
            <thead>
              <tr>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  ID
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Username
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Email
                </th>
                <th
                  style="font-weight: bold; font-family: Tahoma; color: #000000"
                >
                  Role
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of userStore.users" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.login }}</td>
                <td>{{ item.role }}</td>
                <td>
                  <v-btn
                    class="mr-5"
                    color="amber lighten-5"
                    @click="userStore.editUser(item)"
                    rounded="lg"
                    :prepend-icon="mdiNoteEditOutline"
                    >Edit</v-btn
                  ><v-btn
                    color="red lighten-1"
                    @click="deleteUser(item.id!)"
                    rounded="lg"
                    :prepend-icon="mdiTrashCanOutline"
                    >Delete</v-btn
                  >
                </td>
              </tr>
            </tbody>
            <tbody v-if="userStore.users.length == 0">
              <tr>
                <td colspan="7" class="text-center">No data</td>
              </tr>
            </tbody>
          </v-table>
          <v-container width="100%" justify="center">
            <v-pagination
              justify="center"
              v-model="userStore.page"
              :length="userStore.lastPage"
              rounded="circle"
            ></v-pagination>
          </v-container>
        </v-card-title>
      </v-card>
    </v-container>
  </v-parallax>
</template>
